@using iSpeak.Common

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>iSpeak Language Center</title>
    <!-- Global stylesheets -->
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,300,100,500,700,900" rel="stylesheet" type="text/css">
    <link href="~/assets/css/icons/icomoon/styles.css" rel="stylesheet" type="text/css">
    <link href="~/assets/css/icons/fontawesome/styles.min.css" rel="stylesheet" />
    <link href="~/assets/css/bootstrap.min.css" rel="stylesheet" type="text/css">
    <link href="~/assets/css/bootstrap_limitless.min.css" rel="stylesheet" type="text/css">
    <link href="~/assets/css/layout.min.css" rel="stylesheet" type="text/css">
    <link href="~/assets/css/components.min.css" rel="stylesheet" type="text/css">
    <link href="~/assets/css/colors.min.css" rel="stylesheet" type="text/css">
    <link href="~/assets/css/bootstrap-datetimepicker.css" rel="stylesheet" />
    <!-- /global stylesheets -->
    <!-- Core JS files -->
    <script src="~/assets/js/main/jquery.min.js"></script>
    <script src="~/assets/js/main/bootstrap.bundle.min.js"></script>
    <script src="~/assets/js/plugins/loaders/blockui.min.js"></script>
    @*<script src="../../../../global_assets/js/plugins/ui/slinky.min.js"></script>*@
    <!-- /core JS files -->
    <!-- Theme JS files -->
    <script src="~/assets/js/plugins/ui/moment/moment.min.js"></script>
    @*<script src="~/assets/js/plugins/pickers/daterangepicker.js"></script>*@
    @*<script src="~/assets/js/plugins/pickers/anytime.min.js"></script>*@
    @*<script src="~/assets/js/bootstrap-datetimepicker.min.js"></script>*@
    <script src="~/assets/js/plugins/pickers/daterangepicker.js"></script>
    <script src="~/assets/js/plugins/pickers/pickadate/picker.js"></script>
    <script src="~/assets/js/plugins/pickers/pickadate/picker.date.js"></script>
    <script src="~/assets/js/plugins/pickers/pickadate/picker.time.js"></script>
    <script src="~/assets/js/plugins/forms/selects/select2.min.js"></script>
    <script src="~/assets/js/plugins/forms/styling/uniform.min.js"></script>
    <script src="~/assets/js/plugins/forms/styling/switchery.min.js"></script>
    <script src="~/assets/js/plugins/forms/styling/switch.min.js"></script>
    @*<script src="../../../../global_assets/js/plugins/visualization/d3/d3.min.js"></script>
    <script src="../../../../global_assets/js/plugins/visualization/d3/d3_tooltip.js"></script>
    <script src="../../../../global_assets/js/plugins/forms/selects/bootstrap_multiselect.js"></script>
    <script src="../../../../global_assets/js/plugins/ui/moment/moment.min.js"></script>
    <script src="../../../../global_assets/js/plugins/pickers/daterangepicker.js"></script>*@
    <script src="~/assets/js/app.js"></script>
    <!-- /theme JS files -->
</head>
<body>
    <!-- Main navbar -->
    <div class="navbar navbar-expand-md navbar-dark">
        <div class="navbar-brand wmin-0 mr-5">
            <a href="@Url.Action("Index", "Home")" class="d-inline-block">
                <img src="~/assets/images/logo_light.png" alt="">
            </a>
        </div>
        <div class="d-md-none">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-mobile">
                <i class="icon-tree5"></i>
            </button>
        </div>
        <div class="collapse navbar-collapse" id="navbar-mobile">
            <span class="navbar-text ml-md-3 mr-md-auto">
                @*<span class="badge bg-success-400 badge-pill">16 orders</span>*@
            </span>
            <ul class="navbar-nav">
                <li class="nav-item dropdown dropdown-user">
                    <a href="#" class="navbar-nav-link dropdown-toggle" data-toggle="dropdown">
                        <img src="~/assets/images/user.png" class="rounded-circle" alt="">
                        <span>@User.Identity.GetFullName()</span>
                    </a>
                    <div class="dropdown-menu dropdown-menu-right">
                        <a href="#" class="dropdown-item"><i class="icon-lock2"></i> Change Password</a>
                        <a href="@Url.Action("LogOff", "Account")" class="dropdown-item"><i class="icon-switch2"></i> Logout</a>
                    </div>
                </li>
            </ul>
        </div>
    </div>
    <!-- /main navbar -->
    <!-- Secondary navbar -->
    <div class="navbar navbar-expand-md navbar-light">
        <div class="text-center d-md-none w-100">
            <button type="button" class="navbar-toggler dropdown-toggle" data-toggle="collapse" data-target="#navbar-navigation">
                <i class="icon-unfold mr-2"></i>
                Main Menu
            </button>
        </div>
        <div class="navbar-collapse collapse" id="navbar-navigation">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a href="@Url.Action("Index", "Home")" class="navbar-nav-link">
                        <i class="icon-home4 mr-2"></i>
                        Dashboard
                    </a>
                </li>
                <li class="nav-item dropdown">
                    <a href="#" class="navbar-nav-link dropdown-toggle" data-toggle="dropdown">
                        <i class="icon-cog3 mr-2"></i>
                        Settings
                    </a>
                    <div class="dropdown-menu">
                        <div class="dropdown-header">Admin</div>
                        <a href="@Url.Action("Index", "Role")" class="dropdown-item"><i class="icon-shield2"></i> Role</a>
                        <a href="@Url.Action("Index", "User")" class="dropdown-item"><i class="icon-users2"></i> User</a>
                        <div class="dropdown-header">Data Master</div>
                        <div class="dropdown-submenu">
                            <a href="#" class="dropdown-item dropdown-toggle"><i class="icon-menu2"></i> General</a>
                            <div class="dropdown-menu">
                                <a href="@Url.Action("Index", "Languages")" class="dropdown-item">Languages</a>
                                <a href="@Url.Action("Index", "LessonTypes")" class="dropdown-item">Lesson Types</a>
                                <a href="@Url.Action("Index", "LessonPackages")" class="dropdown-item">Lesson Packages</a>
                                <a href="@Url.Action("Index", "HourlyRates")" class="dropdown-item">Hourly Rates</a>
                                <a href="@Url.Action("Index", "Suppliers")" class="dropdown-item">Suppliers</a>
                                <a href="@Url.Action("Index", "Units")" class="dropdown-item">Units</a>
                                <a href="@Url.Action("Index", "Vouchers")" class="dropdown-item">Vouchers</a>
                            </div>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
    <!-- /secondary navbar -->
    <!-- Page content -->
    <div class="page-content">
        <!-- Main content -->
        @RenderBody()
        <!-- /main content -->
    </div>
    <!-- /page content -->
    <!-- Footer -->
    <div class="navbar navbar-expand-lg navbar-light">
        <div class="text-center d-lg-none w-100">
            <button type="button" class="navbar-toggler dropdown-toggle" data-toggle="collapse" data-target="#navbar-footer">
                <i class="icon-unfold mr-2"></i>
                Footer
            </button>
        </div>
        <div class="navbar-collapse collapse" id="navbar-footer">
            <span class="navbar-text">
                &copy; @DateTime.Now.Year -  <a href="https://www.ispeak.com" target="_blank">iSpeak Language Center</a>
            </span>
        </div>
    </div>
    <!-- /footer -->

</body>
</html>
