@using iSpeak.Common

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>iSpeak Language Center</title>
    <!-- Global stylesheets -->
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,300,100,500,700,900" rel="stylesheet" type="text/css">
    <link href="~/assets/css/icons/icomoon/styles.css" rel="stylesheet" type="text/css">
    <link href="~/assets/css/icons/fontawesome/styles.min.css" rel="stylesheet" />
    <link href="~/assets/css/bootstrap.min.css" rel="stylesheet" type="text/css">
    <link href="~/assets/css/bootstrap_limitless.min.css" rel="stylesheet" type="text/css">
    <link href="~/assets/css/layout.min.css" rel="stylesheet" type="text/css">
    <link href="~/assets/css/components.min.css" rel="stylesheet" type="text/css">
    <link href="~/assets/css/colors.min.css" rel="stylesheet" type="text/css">
    <link href="~/assets/css/bootstrap-datetimepicker.css" rel="stylesheet" />
    <link href="~/assets/css/animate.min.css" rel="stylesheet" />
    <!-- /global stylesheets -->
    <!-- Core JS files -->
    <script src="~/assets/js/main/jquery.min.js"></script>
    <script src="~/assets/js/main/bootstrap.bundle.min.js"></script>
    <script src="~/assets/js/plugins/loaders/blockui.min.js"></script>
    @*<script src="../../../../global_assets/js/plugins/ui/slinky.min.js"></script>*@
    <!-- /core JS files -->
    <!-- Theme JS files -->
    <script src="~/assets/js/plugins/ui/moment/moment.min.js"></script>
    @*<script src="~/assets/js/plugins/pickers/daterangepicker.js"></script>*@
    <script src="~/assets/js/plugins/pickers/anytime.min.js"></script>
    @*<script src="~/assets/js/bootstrap-datetimepicker.min.js"></script>*@
    <script src="~/assets/js/plugins/pickers/daterangepicker.js"></script>
    <script src="~/assets/js/plugins/pickers/pickadate/picker.js"></script>
    <script src="~/assets/js/plugins/pickers/pickadate/picker.date.js"></script>
    <script src="~/assets/js/plugins/pickers/pickadate/picker.time.js"></script>
    <script src="~/assets/js/plugins/forms/selects/select2.min.js"></script>
    <script src="~/assets/js/plugins/forms/styling/uniform.min.js"></script>
    <script src="~/assets/js/plugins/forms/styling/switchery.min.js"></script>
    <script src="~/assets/js/plugins/forms/styling/switch.min.js"></script>
    <script src="~/assets/js/plugins/tables/datatables/datatables.min.js"></script>
    <script src="~/assets/js/plugins/notifications/bootbox.min.js"></script>
    @*<script src="../../../../global_assets/js/plugins/visualization/d3/d3.min.js"></script>
        <script src="../../../../global_assets/js/plugins/visualization/d3/d3_tooltip.js"></script>
        <script src="../../../../global_assets/js/plugins/forms/selects/bootstrap_multiselect.js"></script>
        <script src="../../../../global_assets/js/plugins/ui/moment/moment.min.js"></script>
        <script src="../../../../global_assets/js/plugins/pickers/daterangepicker.js"></script>*@
    <script src="~/assets/js/app.js"></script>
    <!-- /theme JS files -->
</head>
<body>
    <!-- Main navbar -->
    <div class="navbar navbar-expand-md navbar-dark">
        <div class="navbar-brand wmin-0 mr-5">
            <a href="http://www.ispeakgroup.com" class="d-inline-block">
                <img src="~/assets/images/logo_light.png" alt="">
            </a>
        </div>
        <div class="d-md-none">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-mobile">
                <i class="icon-tree5"></i>
            </button>
        </div>
        <div class="collapse navbar-collapse" id="navbar-mobile">
            <span class="navbar-text ml-md-3 mr-md-auto">
                @*<span class="badge bg-success-400 badge-pill">16 orders</span>*@
            </span>
            <span class="navbar-text">
                <select id="Branch" name="Branch">
                    @foreach (SelectListItem option in ViewBag.LoginBranch)
                    {
                        <option value="@option.Value" @(option.Value == User.Identity.GetBranches_Id() ? "selected='selected'" : "")>@option.Text</option>
                    }
                </select>
            </span>
            <ul class="navbar-nav">
                <li class="nav-item dropdown dropdown-user">
                    <a href="#" class="navbar-nav-link dropdown-toggle" data-toggle="dropdown">
                        <img src="~/assets/images/user.png" class="rounded-circle" alt="">
                        <span>@User.Identity.GetFullName()</span>
                    </a>
                    <div class="dropdown-menu dropdown-menu-right">
                        <a href="@Url.Action("ChangePassword", "Manage")" class="dropdown-item"><i class="icon-lock2"></i> Change Password</a>
                        <a href="@Url.Action("LogOff", "Account")" class="dropdown-item"><i class="icon-switch2"></i> Logout</a>
                    </div>
                </li>
            </ul>
        </div>
    </div>
    <!-- /main navbar -->
    <!-- Secondary navbar -->
    <div class="navbar navbar-expand-md navbar-light">
        <div class="text-center d-md-none w-100">
            <button type="button" class="navbar-toggler dropdown-toggle" data-toggle="collapse" data-target="#navbar-navigation">
                <i class="icon-unfold mr-2"></i>
                Main Menu
            </button>
        </div>
        <div class="navbar-collapse collapse" id="navbar-navigation">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a href="@Url.Action("Index", "Home")" class="navbar-nav-link">
                        <i class="icon-home4 mr-2"></i>
                        Dashboard
                    </a>
                </li>
                <li class="nav-item dropdown" @(ViewBag.SaleMenu == "" ? "" : Html.Raw(ViewBag.SaleMenu))>
                    <a href="#" class="navbar-nav-link dropdown-toggle" data-toggle="dropdown">
                        <i class="icon-list3 mr-2"></i>
                        Sale
                    </a>
                    <div class="dropdown-menu">
                        @if (ViewBag.SaleIndex) { <a href="@Url.Action("Index", "Sale")" class="dropdown-item">Sale Invoices</a> }
                        @if (ViewBag.PaymentsPrint) { <a href="@Url.Action("Print", "Payments")" class="dropdown-item">Payments</a> }
                        @if (ViewBag.ReturnIndex) { <a href="@Url.Action("Index", "Return")" class="dropdown-item">Returns</a> }
                    </div>
                </li>
                <li class="nav-item dropdown" @(ViewBag.ScheduleMenu == "" ? "" : Html.Raw(ViewBag.ScheduleMenu))>
                    <a href="#" class="navbar-nav-link dropdown-toggle" data-toggle="dropdown">
                        <i class="icon-notebook mr-2"></i>
                        Schedules
                    </a>
                    <div class="dropdown-menu">
                        @if (ViewBag.SchedulesTutorIndex) { <a href="@Url.Action("TutorIndex", "Schedules")" class="dropdown-item">Tutor</a> }
                        @if (ViewBag.SchedulesStudentIndex) { <a href="@Url.Action("StudentIndex", "Schedules")" class="dropdown-item">Student</a>}
                        @if (ViewBag.SchedulesSearch) { <a href="@Url.Action("Search", "Schedules")" class="dropdown-item">Search</a>}
                    </div>
                </li>
                <li class="nav-item" @(ViewBag.SessionsMenu == "" ? "" : Html.Raw(ViewBag.SessionsMenu))>
                    <a href="@Url.Action("Index", "LessonSessions")" class="navbar-nav-link">
                        <i class="icon-meter2 mr-2"></i>
                        Sessions
                    </a>
                </li>
                <li class="nav-item dropdown" @(ViewBag.InventoryMenu == "" ? "" : Html.Raw(ViewBag.InventoryMenu))>
                    <a href="@Url.Action("Index", "Inventory")" class="navbar-nav-link">
                        <i class="icon-clipboard6 mr-2"></i>
                        Inventory
                    </a>
                </li>
                <li class="nav-item dropdown" @(ViewBag.PettyCashMenu == "" ? "" : Html.Raw(ViewBag.PettyCashMenu))>
                    <a href="@Url.Action("Index", "PettyCashRecords")" class="navbar-nav-link">
                        <i class="icon-drawer mr-2"></i>
                        Petty Cash
                    </a>
                </li>
                <li class="nav-item dropdown" @(ViewBag.InternalMenu == "" ? "" : Html.Raw(ViewBag.InternalMenu))>
                    <a href="#" class="navbar-nav-link dropdown-toggle" data-toggle="dropdown">
                        <i class="icon-stats-bars2 mr-2"></i>
                        Internal
                    </a>
                    <div class="dropdown-menu">
                        @if (ViewBag.ReportsNewStudent) { <a href="@Url.Action("NewStudent", "Reports")" class="dropdown-item">New Student</a> }
                        @if (ViewBag.HourlyRatesIndex) { <a href="@Url.Action("Index", "HourlyRates")" class="dropdown-item">Payroll Rates</a> }
                        @if (ViewBag.ReportsPayroll) { <a href="@Url.Action("Index", "Payrolls")" class="dropdown-item">New Payroll</a> }
                        @if (ViewBag.ReportsPayroll) { <a href="@Url.Action("Payroll", "Reports")" class="dropdown-item">Payroll</a> }
                        @if (ViewBag.ReportsPayrollPayments) { <a href="@Url.Action("PayrollPayments", "Reports")" class="dropdown-item">Payroll Payments</a> }
                        @if (ViewBag.ReportsProfitLoss) { <a href="@Url.Action("ProfitLoss", "Reports")" class="dropdown-item">Profit &amp; Loss</a> }
                        @if (ViewBag.ReportsSendEmails) { <a href="@Url.Action("SendEmails", "Reports")" class="dropdown-item">Send Emails</a> }
                    </div>
                </li>
                <li class="nav-item dropdown" @(ViewBag.MasterDataMenu == "" ? "" : Html.Raw(ViewBag.MasterDataMenu))>
                    <a href="#" class="navbar-nav-link dropdown-toggle" data-toggle="dropdown">
                        <i class="icon-menu2 mr-2"></i>
                        Master Data
                    </a>
                    <div class="dropdown-menu">
                        <div class="dropdown-submenu" @(ViewBag.MasterData_InventoryMenu == "" ? "" : Html.Raw(ViewBag.MasterData_InventoryMenu))>
                            <a href="#" class="dropdown-item dropdown-toggle">Inventory</a>
                            <div class="dropdown-menu">
                                @if (ViewBag.SuppliersIndex) { <a href="@Url.Action("Index", "Suppliers")" class="dropdown-item">Suppliers</a> }
                                @if (ViewBag.ProductsIndex) { <a href="@Url.Action("Index", "Products")" class="dropdown-item">Products</a> }
                                @if (ViewBag.UnitsIndex) { <a href="@Url.Action("Index", "Units")" class="dropdown-item">Units</a> }
                            </div>
                        </div>
                        <div class="dropdown-submenu" @(ViewBag.MasterData_LessonsMenu == "" ? "" : Html.Raw(ViewBag.MasterData_LessonsMenu))>
                            <a href="#" class="dropdown-item dropdown-toggle">Lessons</a>
                            <div class="dropdown-menu">
                                @if (ViewBag.LanguagesIndex) { <a href="@Url.Action("Index", "Languages")" class="dropdown-item">Languages</a> }
                                @if (ViewBag.LessonTypesIndex) { <a href="@Url.Action("Index", "LessonTypes")" class="dropdown-item">Lesson Types</a> }
                                @if (ViewBag.LessonPackagesIndex) { <a href="@Url.Action("Index", "LessonPackages")" class="dropdown-item">Lesson Packages</a> }
                            </div>
                        </div>
                        <div class="dropdown-submenu" @(ViewBag.MasterData_ExpensesMenu == "" ? "" : Html.Raw(ViewBag.MasterData_ExpensesMenu))>
                            <a href="#" class="dropdown-item dropdown-toggle">Expenses</a>
                            <div class="dropdown-menu">
                                @if (ViewBag.ExpenseCategoriesIndex) { <a href="@Url.Action("Index", "ExpenseCategories")" class="dropdown-item">Expense Categories</a> }
                                @if (ViewBag.ExpensesIndex) { <a href="@Url.Action("Index", "Expenses")" class="dropdown-item">Expenses</a> }
                            </div>
                        </div>
                        <div class="dropdown-submenu" @(ViewBag.MasterData_GeneralSettingsMenu == "" ? "" : Html.Raw(ViewBag.MasterData_GeneralSettingsMenu))>
                            <a href="#" class="dropdown-item dropdown-toggle">General Settings</a>
                            <div class="dropdown-menu">
                                @if (ViewBag.SettingsIndex) { <a href="@Url.Action("Index", "Settings")" class="dropdown-item">Settings</a> }
                                @if (ViewBag.RoleIndex) { <a href="@Url.Action("Index", "Role")" class="dropdown-item">User Roles</a> }
                                @if (ViewBag.BranchesIndex) { <a href="@Url.Action("Index", "Branches")" class="dropdown-item">Branches</a> }
                            </div>
                        </div>

                        @if (ViewBag.ConsignmentsIndex) { <a href = "@Url.Action("Index", "Consignments")" class="dropdown-item">Consignments</a> }
                        @if (ViewBag.VouchersIndex) { <a href = "@Url.Action("Index", "Vouchers")" class="dropdown-item">Vouchers</a> }
                        @if (ViewBag.ServicesIndex) { <a href = "@Url.Action("Index", "Services")" class="dropdown-item">Services</a> }
                        @if (ViewBag.PettyCashRecordsCategoriesIndex) { <a href = "@Url.Action("Index", "PettyCashRecordsCategories")" class="dropdown-item">Petty Cash Categories</a> }
                        @if (ViewBag.PromotionEventsIndex) { <a href = "@Url.Action("Index", "PromotionEvents")" class="dropdown-item">Promotion Events</a> }
                    </div>
                </li>
                <li class="nav-item dropdown" @(ViewBag.AccountsMenu == "" ? "" : Html.Raw(ViewBag.AccountsMenu))>
                    <a href="@Url.Action("Index", "User")" class="navbar-nav-link">
                        <i class="icon-users2 mr-2"></i>
                        Accounts
                    </a>
                </li>
                <li class="nav-item dropdown" @(ViewBag.FilesMenu == "" ? "" : Html.Raw(ViewBag.FilesMenu))>
                    <a href="@Url.Action("Index", "Files")" class="navbar-nav-link">
                        <i class="icon-file-upload2 mr-2"></i>
                        Files
                    </a>
                </li>
            </ul>
        </div>
    </div>
    <!-- /secondary navbar -->
    <!-- Page content -->
    <div class="page-content">
        <!-- Main content -->
        @RenderBody()
        <!-- /main content -->
    </div>
    <!-- /page content -->
    <!-- Footer -->
    <div class="navbar navbar-expand-lg navbar-light">
        <div class="text-center d-lg-none w-100">
            <button type="button" class="navbar-toggler dropdown-toggle" data-toggle="collapse" data-target="#navbar-footer">
                <i class="icon-unfold mr-2"></i>
                Footer
            </button>
        </div>
        <div class="navbar-collapse collapse" id="navbar-footer">
            <span class="navbar-text">
                &copy; @DateTime.UtcNow.Year - iSpeak Language Center
            </span>
        </div>
        <div class="mt-2">
            <span class="badge badge-success">v.200705</span>
        </div>
    </div>
    <!-- /footer -->
    <a href="#" class="scrollup">a</a>
    <style>
        .scrollup {
            width: 35px;
            height: 35px;
            position: fixed;
            bottom: 20px;
            right: 20px;
            display: none;
            text-indent: -9999px;
            background: url('https://harli.robofin.com/assets/images/arrowUp.png') no-repeat;
            z-index: 999999;
        }
    </style>
    <!-- Script -->
    <script type="text/javascript">
        $(document).ready(function () {

            $(window).scroll(function () {
                if ($(this).scrollTop() > 100) {
                    $('.scrollup').fadeIn();
                } else {
                    $('.scrollup').fadeOut();
                }
            });
            $('.scrollup').click(function () {
                $("html, body").animate({
                    scrollTop: 0
                }, 600);
                return false;
            });

            $('#Branch').change(function () {
                $.ajax({
                    type: "POST",
                    url: '@Url.Action("ChangeBranch", "Branches")',
                    data: { branch_id: $('#Branch').val() },
                    success: function (data) {
                        console.log(data);
                        if (data.status == '200') {
                            var url = '@Url.Action("Index", "Home")';
                            window.location.href = url;
                            $('#Branch').val($('#Branch').val()).trigger('change');
                        }
                        else {
                            bootbox.alert("You don't have access to change Branches.");
                            $('#Branch').val(data.branch_id_before);
                        }
                    }, //end success
                    error: function (result) {
                        bootbox.alert("Error " + result);
                    } //end error
                }); //end ajax
            });

        });
    </script>
    <!-- /script -->

</body>
</html>
