@model IEnumerable<iSpeak.Models.PaymentsIndexModels>

@{
    ViewBag.Root = "Print Invoices";
    ViewBag.Title = "Index";
}

<div class="content-wrapper">

    <!-- Content area -->
    <div class="content">
        <!-- Invoices -->
        <div class="card">
            <div class="card-header header-elements-inline">
                <h5 class="card-title">@ViewBag.Root</h5>
                <div class="header-elements">
                    <div class="list-icons">
                        <a class="list-icons-item" data-action="collapse"></a>
                        <a class="list-icons-item" data-action="reload"></a>
                        <a class="list-icons-item" data-action="remove"></a>
                    </div>
                </div>
            </div>
            <div class="card-body">
                @*<a href="@Url.Action("Index", "Payments")" class="btn btn-sm btn-warning"><i class="icon-circle-left2 mr-2"></i> Back to List</a>*@
                <div class="table-responsive">
                    <table class="table table-hover datatable">
                        <thead>
                            <tr>
                                <th>@Html.DisplayNameFor(model => model.Branch)</th>
                                <th>@Html.DisplayNameFor(model => model.Timestamp)</th>
                                <th>@Html.DisplayNameFor(model => model.No)</th>
                                <th>@Html.DisplayNameFor(model => model.CashAmount)</th>
                                <th>@Html.DisplayNameFor(model => model.DebitAmount)</th>
                                <th>@Html.DisplayNameFor(model => model.ConsignmentAmount)</th>
                                <th>@Html.DisplayNameFor(model => model.Cancelled)</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody id="data-body">
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>@Html.DisplayFor(modelItem => item.Branch)</td>
                                    <td>@Html.DisplayFor(modelItem => item.Timestamp)</td>
                                    <td>@Html.DisplayFor(modelItem => item.No)</td>
                                    <td>@Html.DisplayFor(modelItem => item.CashAmount)</td>
                                    <td>@Html.DisplayFor(modelItem => item.DebitAmount)</td>
                                    <td>@Html.DisplayFor(modelItem => item.ConsignmentAmount)</td>
                                    <td>
                                        @if (item.Cancelled == true)
                                        {
                                            <span class="badge badge-warning">Yes</span>
                                        }
                                        else
                                        {
                                            <span class="badge badge-dark">No</span>
                                        }
                                    </td>
                                    <td>
                                        @if (item.Cancelled == false)
                                        {
                                            <a href="@Url.Action("Print", "Payments", new { id = item.Id })">Print</a> @:|
                                            <a href="#" onclick="Cancelled('@item.Id', '@item.No')">Cancel</a>
                                        }
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <!-- /Invoices -->
    </div>
    <!-- /content area -->

</div>

<script type="text/javascript">
    function View_Log(id) {
        $.ajax({
            type: "POST",
            url: '@Url.Action("GetPayment", "Payments")',
            data: {
                id: id
            },
            success: function (data) {
                var dialog = bootbox.alert({
                    title: 'Payment Log',
                    message: data.content,
                    backdrop: true
                });
            }, //end success
            error: function (result) {
                bootbox.alert("Error " + result);
            } //end error
        }); //end ajax
    }

    function Cancelled(id, no) {
        bootbox.confirm({
            message: "Are you sure want to cancel Payment No: " + no + " ?",
            buttons: {
                confirm: {
                    label: 'Yes',
                    className: 'btn-success'
                },
                cancel: {
                    label: 'No',
                    className: 'btn-danger'
                }
            },
            callback: function (result) {
                if (result == true) {
                    $.ajax({
                        type: "POST",
                        url: '@Url.Action("Cancelled", "Payments")',
                        data: {
                            id: id
                        },
                        success: function (data) {
                            location.reload();
                        }, //end success
                        error: function (result) {
                            bootbox.alert("Error " + result);
                        } //end error
                    }); //end ajax
                }
            }
        });
    }

    $(document).ready(function () {
        // Setting datatable defaults
        $.extend($.fn.dataTable.defaults, {
            autoWidth: false,
            columnDefs: [
                {
                    orderable: false,
                    width: 120,
                    targets: [7]
                }
            ],
            dom: '<"datatable-header"fl><"datatable-scroll"t><"datatable-footer"ip>',
            language: {
                search: '<span>Filter:</span> _INPUT_',
                searchPlaceholder: 'Type to filter...',
                lengthMenu: '<span>Show:</span> _MENU_',
                paginate: { 'first': 'First', 'last': 'Last', 'next': $('html').attr('dir') == 'rtl' ? '&larr;' : '&rarr;', 'previous': $('html').attr('dir') == 'rtl' ? '&rarr;' : '&larr;' }
            }
        });

        $('.datatable').DataTable({
            pagingType: 'full_numbers',
            order: [[1, 'desc']]
        });

        $('.check-styled').uniform();
        
    });
</script>