@model IEnumerable<iSpeak.Models.PaymentsIndexModels>

@{
    ViewBag.Root = "Payments";
    ViewBag.Title = "Index";
}

<style>
    .limit-text {
        display: block;
        width: 100px;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
    }
</style>

<div class="content-wrapper">

    <!-- Content area -->
    <div class="content">
        <!-- Invoices -->
        <div class="card animated bounceInLeft">
            <div class="card-header header-elements-inline">
                <h5 class="card-title">@ViewBag.Root</h5>
                <div class="header-elements">
                    <div class="list-icons">
                        <a class="list-icons-item" data-action="collapse"></a>
                        <a class="list-icons-item" data-action="reload"></a>
                        <a class="list-icons-item" data-action="remove"></a>
                    </div>
                </div>
            </div>
            <div class="card-body">
                @*<a href="@Url.Action("Index", "Payments")" class="btn btn-sm btn-warning"><i class="icon-circle-left2 mr-2"></i> Back to List</a>*@
                <div class="table-responsive">
                    <table class="table table-hover datatable">
                        <thead>
                            <tr>
                                <th>@Html.DisplayNameFor(model => model.Branch)</th>
                                <th>@Html.DisplayNameFor(model => model.Timestamp)</th>
                                <th>@Html.DisplayNameFor(model => model.No)</th>
                                <th>@Html.DisplayNameFor(model => model.CashAmount)</th>
                                <th>@Html.DisplayNameFor(model => model.DebitAmount)</th>
                                <th>@Html.DisplayNameFor(model => model.ConsignmentAmount)</th>
                                <th>@Html.DisplayNameFor(model => model.Cancelled)</th>
                                <th>@Html.DisplayNameFor(model => model.Confirmed)</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody id="data-body">
                            @*@foreach (var item in Model)
                            {
                                <tr>
                                    <td>@Html.DisplayFor(modelItem => item.Branch)</td>
                                    <td>@Html.DisplayFor(modelItem => item.Timestamp)</td>
                                    <td>@Html.DisplayFor(modelItem => item.No)</td>
                                    <td>@Html.DisplayFor(modelItem => item.CashAmount)</td>
                                    <td>@Html.DisplayFor(modelItem => item.DebitAmount)</td>
                                    <td>@Html.DisplayFor(modelItem => item.ConsignmentAmount)</td>
                                    <td>
                                        @if (!item.HasSession)
                                        {
                                            if (item.Cancelled == false)
                                            {
                                                <a href="#"><span class="badge badge-warning d-block" data-toggle="modal" data-target="#modal_cancel" onclick="Cancel_Modal('@item.Id', '@item.No')">Cancel</span></a>
                                            }
                                            else
                                            {
                                                <span class="badge badge-flat border-danger d-block text-danger-600">@item.Notes_Cancel</span>
                                            }
                                        }
                                    </td>
                                    <td>
                                        @if (item.Confirmed)
                                        {
                                            <span class="badge badge-success d-block">Approved</span>
                                        }
                                        else
                                        {
                                            <a href="#"><span class="badge badge-dark d-block" onclick="Approve('@item.Id', '@item.No')">None</span></a>
                                        }
                                    </td>
                                    <td>
                                        <a href="@Url.Action("Print", "Payments", new { id = item.Id })">Print</a>
                                    </td>
                                </tr>
                            }*@
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <!-- /Invoices -->
        <!-- Cancel form modal -->
        <div id="modal_cancel" class="modal fade" tabindex="-1">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header bg-warning">
                        <h6 class="modal-title">Cancel Payment</h6>
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                    </div>

                    <form action="#" class="form-horizontal">
                        <div class="modal-body">
                            <label class="modal-validation text-danger" style="display: none"></label>
                            <div style="display: none">
                                <input class="form-control mdl-id-inv" />
                            </div>
                            <div class="form-group row">
                                <label class="col-form-label col-sm-4">No Invoice</label>
                                <div class="col-sm-8">
                                    <input class="form-control mdl-no-inv" readonly />
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-form-label col-sm-4">Notes</label>
                                <div class="col-sm-8">
                                    <textarea class="form-control mdl-notes" rows="2" placeholder="Reason Cancel"></textarea>
                                </div>
                            </div>
                        </div>

                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                            <button type="button" class="btn bg-success mdl-btn-submit">Submit</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <!-- /cancel form modal -->
    </div>
    <!-- /content area -->

</div>

<script type="text/javascript">

    // Setting datatable defaults
    $.extend($.fn.dataTable.defaults, {
        autoWidth: false,
        columnDefs: [
            {
                orderable: false,
                width: 100,
                targets: [8]
            }
        ],
        dom: '<"datatable-header"fl><"datatable-scroll"t><"datatable-footer"ip>',
        language: {
            search: '<span>Filter:</span> _INPUT_',
            searchPlaceholder: 'Type to filter...',
            lengthMenu: '<span>Show:</span> _MENU_',
            paginate: { 'first': 'First', 'last': 'Last', 'next': $('html').attr('dir') == 'rtl' ? '&larr;' : '&rarr;', 'previous': $('html').attr('dir') == 'rtl' ? '&rarr;' : '&larr;' }
        }
    });

    var table = $('.datatable').DataTable({
        ajax: {
            url: '@Url.Action("GetData", "Payments")',
            type: 'POST',
            dataType: 'json',
        },
        columns: [
            { data: 'Branch', name: 'Branch' },
            { data: 'Timestamp', name: 'Timestamp' },
            { data: 'No', name: 'No' },
            {
                data: 'CashAmount', name: 'CashAmount', render: function (e) {
                    return parseFloat(e).toLocaleString();
                }
            },
            {
                data: 'DebitAmount', name: 'DebitAmount', render: function (e) {
                    return parseFloat(e).toLocaleString();
                }
            },
            {
                data: 'ConsignmentAmount', name: 'ConsignmentAmount', render: function (e) {
                    return parseFloat(e).toLocaleString();
                }
            },
            {
                data: 'Cancelled', name: 'Cancelled', render: function (data, type, row) {
                    if (row.Confirmed == false) {
                        if (row.HasSession == false) {
                            return data == false
                                ? '<a href="javascript:void(0)"><span class="badge badge-warning d-block limit-text" data-toggle="modal" data-target="#modal_cancel" onclick="Cancel_Modal(' + "'" + row.Id + "'" + ', ' + "'" + row.No + "'" + ')">Cancel</span></a>'
                                : '<span class="badge badge-flat border-danger d-block text-danger-600 limit-text" title="' + row.Notes_Cancel + '">' + row.Notes_Cancel + '</span>'
                        }
                        else {
                            return '';
                        }
                    }
                    else {
                        if (data == true) {
                            return '<span class="badge badge-flat border-danger d-block text-danger-600 limit-text" title="' + row.Notes_Cancel + '">' + row.Notes_Cancel + '</span>'
                        }
                        else {
                            return '';
                        }
                    }
                }
            },
            {
                data: 'Confirmed', name: 'Confirmed', render: function (data, type, row) {
                    return data == false
                        ? '<a href="javascript:void(0)"><span class="badge badge-dark d-block" onclick="Approve(' + "'" + row.Id + "'" + ', ' + "'" + row.No + "'" + ')">None</span></a>'
                        : '<a href="javascript:void(0)"><span class="badge badge-success d-block" onclick="CancelApprove(' + "'" + row.Id + "'" + ', ' + "'" + row.No + "'" + ')">Approved</span></a>'
                }
            },
            {
                data: 'Action', name: 'Action', render: function (data, type, row) {
                    var link_log = '@ViewBag.Log' == 'False' ? '' : ' | <a href="' + '@Url.Content("~")' + 'Logs/Index/' + row.Id + '?ctrl=' + '@(this.ViewContext.RouteData.Values["controller"].ToString())' + '/Print&table=' + '@(this.ViewContext.RouteData.Values["controller"].ToString())' + '&header=' + row.No + '" target="_blank">Log</a>';
                    return '<a href="@Url.Content("~")' + 'Payments/Print/' + row.Id + '" target="_blank">Print</a>' + link_log;
                }
            },
        ],
        serverSide: true,
        processing: true,
        language: {
            processing: 'Please wait ...'
        },
        pagingType: 'full_numbers',
        order: [[1, 'desc']]
    });

    function View_Log(id) {
        $.ajax({
            type: "POST",
            url: '@Url.Action("GetPayment", "Payments")',
            data: {
                id: id
            },
            success: function (data) {
                var dialog = bootbox.alert({
                    title: 'Payment Log',
                    message: data.content,
                    backdrop: true
                });
            }, //end success
            error: function (result) {
                bootbox.alert("Error " + result);
            } //end error
        }); //end ajax
    }

    function Cancel_Modal(id, no) {
        //alert('id: ' + id + ', no: ' + no);
        $('.mdl-id-inv').val(id);
        $('.mdl-no-inv').val(no);
        $('.mdl-notes').val('');
    }

    function Cancelled(id, notes) {
        $.ajax({
            type: "POST",
            url: '@Url.Action("Cancelled", "Payments")',
            data: {
                id: id,
                notes: notes
            },
            success: function (data) {
                //location.reload();
                $('.mdl-id-inv').val('');
                $('.mdl-no-inv').val('');
                $('.mdl-notes').val('');
                $('#modal_cancel').modal('toggle');
                table.ajax.reload(null, false);
            }, //end success
            error: function (result) {
                bootbox.alert("Error " + result);
            } //end error
        }); //end ajax
    }

    function Approve(id, no) {
        @*bootbox.confirm({
            message: "Are you sure want to approve Payment No: " + no + " ?",
            buttons: {
                confirm: {
                    label: 'Yes',
                    className: 'btn-success'
                },
                cancel: {
                    label: 'No',
                    className: 'btn-danger'
                }
            },
            callback: function (result) {
                if (result == true) {
                    $.ajax({
                        type: "POST",
                        url: '@Url.Action("Approved", "Payments")',
                        data: {
                            id: id
                        },
                        success: function (data) {
                            location.reload();
                        }, //end success
                        error: function (result) {
                            bootbox.alert("Error " + result);
                        } //end error
                    }); //end ajax
                }
            }
        });*@
        $.ajax({
            type: "POST",
            url: '@Url.Action("Approved", "Payments")',
            data: {
                id: id
            },
            success: function (data) {
                //location.reload();
                table.ajax.reload(null, false);
            }, //end success
            error: function (result) {
                bootbox.alert("Error " + result);
            } //end error
        }); //end ajax
    }

    function CancelApprove(id, no) {
        $.ajax({
            type: "POST",
            url: '@Url.Action("CancelApproved", "Payments")',
            data: {
                id: id
            },
            success: function (data) {
                //location.reload();
                table.ajax.reload(null, false);
            }, //end success
            error: function (result) {
                bootbox.alert("Error " + result);
            } //end error
        }); //end ajax
    }

    $(document).ready(function () {

        if ('@ViewBag.Cancel' == 'False') {
            table.column(6).visible(false);
        }

        if ('@ViewBag.Approve' == 'False') {
            table.column(7).visible(false);
        }

        $('.check-styled').uniform();

        $('.mdl-btn-submit').click(function () {
            if (!event.detail || event.detail == 1) {
                if ($('.mdl-notes').val() == '') {
                    $('.modal-validation').html('The field Notes is required.').show();
                }
                else {
                    $('.modal-validation').html('').hide();
                    Cancelled($('.mdl-id-inv').val(), $('.mdl-notes').val());
                }
            }
        });
        
    });
</script>