@model IEnumerable<iSpeak.Models.InventoryViewModels>

@{
    ViewBag.Root = "Inventory";
    ViewBag.Title = "Index";
}

<div class="content-wrapper">

    <!-- Content area -->
    <div class="content">
        <!-- Form inputs -->
        <div class="card">
            <div class="card-header header-elements-inline">
                <h5 class="card-title">@ViewBag.Root</h5>
                <div class="header-elements">
                    <div class="list-icons">
                        <a class="list-icons-item" data-action="collapse"></a>
                        <a class="list-icons-item" data-action="reload"></a>
                        <a class="list-icons-item" data-action="remove"></a>
                    </div>
                </div>
            </div>
            <div class="card-body">
                <a href="@Url.Action("Create", "Inventory")" class="btn btn-sm btn-success">Create New <i class="icon-plus22 ml-2"></i></a>
                <a href="#" class="btn btn-sm btn-primary" onclick="View_SOH()">Stock On Hand <i class="icon-bookmark ml-2"></i></a>
                <div class="table-responsive">
                    <table class="table table-hover datatable">
                        <thead>
                            <tr>
                                <th>@Html.DisplayNameFor(model => model.ReceiveDate)</th>
                                <th>@Html.DisplayNameFor(model => model.Product)</th>
                                <th>@Html.DisplayNameFor(model => model.Supplier)</th>
                                <th>@Html.DisplayNameFor(model => model.BuyQty)</th>
                                <th>@Html.DisplayNameFor(model => model.AvailableQty)</th>
                                <th>@Html.DisplayNameFor(model => model.Unit)</th>
                                <th>@Html.DisplayNameFor(model => model.BuyPrice)</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>@Html.DisplayFor(modelItem => item.ReceiveDate)</td>
                                    <td>@Html.DisplayFor(modelItem => item.Product)</td>
                                    <td>@Html.DisplayFor(modelItem => item.Supplier)</td>
                                    <td>@Html.DisplayFor(modelItem => item.BuyQty)</td>
                                    <td>@Html.DisplayFor(modelItem => item.AvailableQty)</td>
                                    <td>@Html.DisplayFor(modelItem => item.Unit)</td>
                                    <td>@Html.DisplayFor(modelItem => item.BuyPrice)</td>
                                    <td>
                                        @Html.ActionLink("Edit", "Edit", new { id = item.Id })
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <!-- /form inputs -->
    </div>
    <!-- /content area -->

</div>

<script type="text/javascript">
    function View_SOH() {
        $.ajax({
            type: "POST",
            url: '@Url.Action("GetStockOnHand", "Products")',
            data: {
                branched_id: $('#Branch').val()
            },
            success: function (data) {
                var dialog = bootbox.alert({
                    title: 'Product List',
                    size: 'large',
                    message: data.message,
                    backdrop: true
                });
            }, //end success
            error: function (result) {
                bootbox.alert("Error " + result);
            } //end error
        }); //end ajax
    }

    $(document).ready(function () {
        // Setting datatable defaults
        $.extend($.fn.dataTable.defaults, {
            autoWidth: false,
            columnDefs: [{
                orderable: false,
                width: 100,
                targets: [7]
            }],
            dom: '<"datatable-header"fl><"datatable-scroll"t><"datatable-footer"ip>',
            language: {
                search: '<span>Filter:</span> _INPUT_',
                searchPlaceholder: 'Type to filter...',
                lengthMenu: '<span>Show:</span> _MENU_',
                paginate: { 'first': 'First', 'last': 'Last', 'next': $('html').attr('dir') == 'rtl' ? '&larr;' : '&rarr;', 'previous': $('html').attr('dir') == 'rtl' ? '&rarr;' : '&larr;' }
            }
        });

        $('.datatable').DataTable({
            pagingType: 'full_numbers',
            order: [[0, 'desc']]
        });
    });
</script>