@model IEnumerable<iSpeak.Models.LessonSessionsViewModels>

@{
    ViewBag.Root = "Lesson Sessions";
    ViewBag.Title = "Index";
}

<div class="content-wrapper">

    <!-- Content area -->
    <div class="content">

        <!-- Form inputs -->
        <div class="card">
            <div class="card-header header-elements-inline">
                <h5 class="card-title">@ViewBag.Root</h5>
                <div class="header-elements">
                    <div class="list-icons">
                        <a class="list-icons-item" data-action="collapse"></a>
                        <a class="list-icons-item" data-action="reload"></a>
                        <a class="list-icons-item" data-action="remove"></a>
                    </div>
                </div>
            </div>
            <div class="card-body">
                <a href="@Url.Action("Create", "LessonSessions")" class="btn btn-sm btn-success">Create New <i class="icon-plus22 ml-2"></i></a>
                <div class="table-responsive">
                    <table class="table table-hover datatable">
                        <thead>
                            <tr>
                                <th>@Html.DisplayNameFor(model => model.Timestamp)</th>
                                <th>@Html.DisplayNameFor(model => model.Lesson)</th>
                                <th>@Html.DisplayNameFor(model => model.Student)</th>
                                <th>@Html.DisplayNameFor(model => model.Tutor)</th>
                                <th>@Html.DisplayNameFor(model => model.SessionHours)</th>
                                @if (ViewBag.IsShowHourlyRate == true)
                                {
                                    <th>@Html.DisplayNameFor(model => model.HourlyRates_Rate)</th>
                                }
                                <th>@Html.DisplayNameFor(model => model.TravelCost)</th>
                                <th>@Html.DisplayNameFor(model => model.TutorTravelCost)</th>
                                @*<th>@Html.DisplayNameFor(model => model.Deleted)</th>*@
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>@Html.DisplayFor(modelItem => item.Timestamp)</td>
                                    <td>@Html.DisplayFor(modelItem => item.Lesson)</td>
                                    <td>@Html.DisplayFor(modelItem => item.Student)</td>
                                    <td>@Html.DisplayFor(modelItem => item.Tutor)</td>
                                    <td>@Html.DisplayFor(modelItem => item.SessionHours)</td>
                                    @if (ViewBag.IsShowHourlyRate)
                                    {
                                        <td>@Html.DisplayFor(modelItem => item.HourlyRates_Rate)</td>
                                    }
                                    <td>@Html.DisplayFor(modelItem => item.TravelCost)</td>
                                    <td>@Html.DisplayFor(modelItem => item.TutorTravelCost)</td>
                                    @*<td>
                                        @if (item.Deleted == false)
                                        {
                                            <span class="badge badge-primary d-block">NO</span>
                                        }
                                        else
                                        {
                                            <span class="badge badge-dark d-block">YES</span>
                                        }
                                    </td>*@
                                    <td>
                                        <a href="#" onclick="View('@item.Id', '@item.Lesson', '@item.Student', '@item.Tutor')">View</a> |
                                        @Html.ActionLink("Edit", "Edit", new { id = item.Id })
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <!-- /form inputs -->

    </div>
    <!-- /content area -->

</div>

<script type="text/javascript">

    function View(id, lesson, student, tutor) {
        $.ajax({
            type: "POST",
            url: '@Url.Action("GetSession", "LessonSessions")',
            data: {
                id: id,
                lesson: lesson,
                student: student,
                tutor: tutor
            },
            success: function (data) {
                var dialog = bootbox.alert({
                    title: 'Session Details',
                    size: 'large',
                    message: data.content,
                    backdrop: true
                });
            }, //end success
            error: function (result) {
                bootbox.alert("Error " + result);
            } //end error
        }); //end ajax
    }

    $(document).ready(function () {
        var lastColumn = 0;
        if ('@ViewBag.IsShowHourlyRate' == 'True') {
            lastColumn = 8;
        }
        else {
            lastColumn = 7;
        }

        // Setting datatable defaults
        $.extend($.fn.dataTable.defaults, {
            autoWidth: false,
            columnDefs: [{
                orderable: false,
                width: 100,
                targets: [lastColumn]
            }],
            dom: '<"datatable-header"fl><"datatable-scroll"t><"datatable-footer"ip>',
            language: {
                search: '<span>Filter:</span> _INPUT_',
                searchPlaceholder: 'Type to filter...',
                lengthMenu: '<span>Show:</span> _MENU_',
                paginate: { 'first': 'First', 'last': 'Last', 'next': $('html').attr('dir') == 'rtl' ? '&larr;' : '&rarr;', 'previous': $('html').attr('dir') == 'rtl' ? '&rarr;' : '&larr;' }
            }
        });

        $('.datatable').DataTable({
            pagingType: 'full_numbers',
            order: [[0, 'desc']]
        });
    });
</script>