@model IEnumerable<iSpeak.Models.UserViewModels>

@{
    ViewBag.Root = "User Accounts";
    ViewBag.Title = "Index";
}

<div class="content-wrapper">

    <!-- Content area -->
    <div class="content">

        <!-- Form User -->
        <div class="card user-list animated bounceInLeft">
            <div class="card-header header-elements-inline">
                <h5 class="card-title">@ViewBag.Root</h5>
                <div class="header-elements">
                    <div class="list-icons">
                        <a class="list-icons-item" data-action="collapse"></a>
                        <a class="list-icons-item" data-action="reload"></a>
                        <a class="list-icons-item" data-action="remove"></a>
                    </div>
                </div>
            </div>
            <div class="card-body">
                <a href="@Url.Action("Register", "Account")" class="btn btn-sm btn-success">Create New <i class="icon-plus22 ml-2"></i></a>
                <div class="form-check mb-1" style="float: right">
                    @Html.DropDownList("listRole", ViewBag.listRole as SelectList, "All Roles", new { @class = "form-control select2" })
                </div>
                <div class="table-responsive">
                    <table class="table table-hover datatable">
                        <thead>
                            <tr>
                                <th>@Html.DisplayNameFor(model => model.Fullname)</th>
                                <th>@Html.DisplayNameFor(model => model.UserName)</th>
                                <th>@Html.DisplayNameFor(model => model.Email)</th>
                                <th>Role</th>
                                <th>@Html.DisplayNameFor(model => model.Active)</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>@Html.DisplayFor(modelItem => item.Fullname)</td>
                                    <td>@Html.DisplayFor(modelItem => item.UserName)</td>
                                    <td>@Html.DisplayFor(modelItem => item.Email)</td>
                                    <td>
                                        @foreach (var role in item.Roles)
                                        {
                                            <span class="badge badge-flat border-danger text-danger-600">@role</span>
                                        }
                                </td>
                                <td>
                                    @if (item.Active == true)
                                    {
                                        <span class="badge badge-primary d-block">Enabled</span>
                                    }
                                    else
                                    {
                                        <span class="badge badge-dark d-block">Disabled</span>
                                    }
                                </td>
                                <td>
                                    @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                                    @Html.ActionLink("Info", "Info", new { id = item.Id })
                                    @if (ViewBag.Reset == true)
                                    {
                                        @:| <a href="javascript:void(0)" onclick="Reset('@item.Id')">Reset Password</a>
                                    }
                                    @if (ViewBag.Log == true)
                                    {
                                        @:| @Html.ActionLink("Log", "Index", "Logs", new { id = item.Id, ctrl = this.ViewContext.RouteData.Values["controller"].ToString(), table = "AspNetUsers", header = item.Fullname }, new { target = "_blank" })
                                    }
                                </td>
                            </tr>
                        }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <!-- /form User -->
        <!-- Form Package -->
        <div class="card package-list animated bounceInLeft" style="display: none">
            <div class="card-header header-elements-inline">
                <h5 class="card-title">Student Packages</h5>
                <div class="header-elements">
                    <div class="list-icons">
                        <a class="list-icons-item" data-action="collapse"></a>
                        <a class="list-icons-item" data-action="reload"></a>
                        <a class="list-icons-item" data-action="remove"></a>
                    </div>
                </div>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-lg-9">
                        <div class="form-group">
                            <a href="#" onclick="Previous()" class="btn btn-sm btn-secondary">Back to User List <i class="icon-circle-left2 ml-2"></i></a>
                        </div>
                    </div>
                </div>
                <div class="table-responsive">
                    <table class="table table-hover datatable3">
                        <thead>
                            <tr>
                                <th>No</th>
                                <th>Date</th>
                                <th>Packages</th>
                                <th>Student</th>
                                <th>Amount</th>
                                <th>Due</th>
                                <th>Status</th>
                                <th>Payment</th>
                            </tr>
                        </thead>
                        <tbody id="body-package">
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <!-- /form Package -->
    </div>
    <!-- /content area -->

</div>

<script type="text/javascript">

    function Previous() {
        $('.user-list').show();
        $('.package-list').hide();
    }

    function Info(id) {
        $('.user-list').hide();

        $.ajax({
            type: "POST",
            url: '@Url.Action("GetPackages", "Home")',
            data: {
                user_id: id
            },
            success: function (data) {
                console.log(data.obj);
                $.each(data.obj, function (index, row) {
                    $("#body-package").append("<tr><td>"+row.No+"</td><td>"+row.Timestamp+"</td><td>"+package+"</td></tr>")
                });
            }, //end success
            error: function (result) {
                bootbox.alert("Error " + result);
            } //end error
        }); //end ajax

        $('.package-list').show();
    }

    function Reset(id) {
        $.ajax({
            type: "POST",
            url: '@Url.Action("ResetPassword", "Manage")',
            data: {
                user_id: id
            },
            success: function (data) {
                bootbox.alert("Password has been reset successfully.");
            }, //end success
            error: function (result) {
                bootbox.alert("Error " + result);
            } //end error
        }); //end ajax
    }

    function Log(id, fullname) {
        $.ajax({
            type: "POST",
            url: '@Url.Action("GetLogs", "User")',
            data: {
                id: id
            },
            success: function (data) {
                var dialog = bootbox.alert({
                    title: 'Logs: ' + fullname,
                    size: 'large',
                    message: data.content,
                    backdrop: true
                });
            }, //end success
            error: function (result) {
                bootbox.alert("Error " + result);
            } //end error
        }); //end ajax
    }

    $(document).ready(function () {
        // Setting datatable defaults
        $.extend($.fn.dataTable.defaults, {
            autoWidth: false,
            columnDefs: [{
                orderable: false,
                width: 250,
                targets: [5]
            }],
            dom: '<"datatable-header"fl><"datatable-scroll"t><"datatable-footer"ip>',
            language: {
                search: '<span>Filter:</span> _INPUT_',
                searchPlaceholder: 'Type to filter...',
                lengthMenu: '<span>Show:</span> _MENU_',
                paginate: { 'first': 'First', 'last': 'Last', 'next': $('html').attr('dir') == 'rtl' ? '&larr;' : '&rarr;', 'previous': $('html').attr('dir') == 'rtl' ? '&rarr;' : '&larr;' }
            }
        });

        $('.datatable').DataTable({
            pagingType: 'full_numbers'
        });

        $('.select2').select2({
            minimumResultsForSearch: -1
        });

        $('#listRole').change(function () {
            if ($('#listRole').val() == '') {
                $('input[type=search]').val('').keyup();
            }
            else {
                $('input[type=search]').val($('#listRole').val()).keyup();
            }
        });
    });
</script>