@model IEnumerable<iSpeak.Models.TutorPayrollViewModels>

@{
    ViewBag.Root = "Reports";
    ViewBag.Title = "Payroll";
}

<style>
    .animated {
        -webkit-animation-duration: 1s;
        -moz-animation-duration: 1s;
        animation-duration: 1s;
    }
</style>

<div class="content-wrapper">

    <!-- Content area -->
    <div class="content">
        <!-- Form inputs -->
        <div class="card payroll-index animated bounceInLeft">
            <div class="card-header header-elements-inline">
                <h5 class="card-title">@ViewBag.Title</h5>
                <div class="header-elements">
                    <div class="list-icons">
                        <a class="list-icons-item" data-action="collapse"></a>
                        <a class="list-icons-item" data-action="reload"></a>
                        <a class="list-icons-item" data-action="remove"></a>
                    </div>
                </div>
            </div>
            <div class="card-body">
                <div class="row mt-2">
                    <div class="col-lg-2">
                        <div class="form-group">
                            <label class="control-label">Date Period</label>
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <select class="form-control select2 period-month">
                                        <option value="1">January</option>
                                        <option value="2">February</option>
                                        <option value="3">March</option>
                                        <option value="4">April</option>
                                        <option value="5">May</option>
                                        <option value="6">June</option>
                                        <option value="7">July</option>
                                        <option value="8">August</option>
                                        <option value="9">September</option>
                                        <option value="10">October</option>
                                        <option value="11">November</option>
                                        <option value="12">December</option>
                                    </select>
                                </div>
                                <input type="number" class="form-control period-year" value="@DateTime.UtcNow.Year">
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-2">
                        <div class="form-group">
                            <label class="control-label">&nbsp;</label>
                            <div class="btn-toolbar">
                                <div class="btn-group">
                                    <button type="button" class="btn btn-light" onclick="ChangePeriod('back')">&lt;</button>
                                    <button type="button" class="btn btn-light" onclick="ChangePeriod('next')">&gt;</button>
                                    <button type="button" class="btn btn-sm btn-secondary form-control" id="btnGo">Show Data <i class="icon-paperplane ml-2"></i></button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-2">
                        <div class="form-group">
                            <label class="control-label">&nbsp;</label>
                            <div class="btn-toolbar">
                                <div class="btn-group">
                                    <button type="button" class="btn btn-outline-primary form-control" data-toggle="modal" data-target="#modal_new"><i class="icon-plus22 mr-2"></i> Create New Payroll</button>
                                    <button type="button" class="btn btn-outline-dark form-control" onclick="GenerateFullTime()"><i class="icon-stack-text mr-2"></i> Generate Full Time Payroll</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="table-responsive">
                    <table class="table table-hover datatable">
                        <thead>
                            <tr>
                                <th>@Html.DisplayNameFor(model => model.Name)</th>
                                <th>@Html.DisplayNameFor(model => model.TotalHours)</th>
                                <th>@Html.DisplayNameFor(model => model.TotalPayable)</th>
                                <th>@Html.DisplayNameFor(model => model.Due)</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            @if (Model != null)
                            {
                                foreach (var item in Model)
                                {
                                    <tr>
                                        <td>@Html.DisplayFor(modelItem => item.Name)</td>
                                        <td>@Html.DisplayFor(modelItem => item.TotalHours)</td>
                                        <td>@Html.DisplayFor(modelItem => item.TotalPayable)</td>
                                        <td>@Html.DisplayFor(modelItem => item.Due)</td>
                                        <td></td>
                                    </tr>
                                }
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <!-- /form inputs -->
        <!-- Form Details -->
        <div class="card payroll-details animated bounceInLeft" style="display: none">
            <div class="card-header header-elements-inline">
                <h5 class="card-title title-details"></h5>
                <div class="header-elements">
                    <div class="list-icons">
                        <a class="list-icons-item" data-action="collapse"></a>
                        <a class="list-icons-item" data-action="reload"></a>
                        <a class="list-icons-item" data-action="remove"></a>
                    </div>
                </div>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-lg-9">
                        <div class="form-group">
                            <a href="javascript:void(0)" onclick="Previous()" class="btn btn-sm btn-secondary">Back to Payroll List <i class="icon-circle-left2 ml-2"></i></a>
                            <button type="button" class="btn btn-sm btn-primary" data-toggle="modal" data-target="#modal_manual">Manual Payroll<i class="icon-plus22 ml-2"></i></button>
                            <button type="button" class="btn btn-sm btn-success" data-toggle="modal" data-target="#modal_pay">Pay<i class="icon-checkmark3 ml-2"></i></button>
                        </div>
                    </div>
                    <div class="col-lg-3" style="float: right">
                        <div class="form-group">
                            <div class="input-group input-group-sm">
                                <span class="input-group-prepend">
                                    <span class="input-group-text bg-slate-700 border-slate-700 text-white">
                                        Total Payroll
                                    </span>
                                </span>
                                <input type="text" class="form-control bg-slate text-white border-transparent payroll-total" placeholder="Total Amount">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="table-responsive">
                    <table class="table table-hover datatable2">
                        <thead>
                            <tr>
                                <th>Date</th>
                                <th>Description</th>
                                <th>Session Hours</th>
                                <th>Hourly Rate</th>
                                <th>Travel Cost</th>
                                <th>Amount</th>
                                <th>Action</th>
                                <th>Paid</th>
                            </tr>
                        </thead>
                        <tbody></tbody>
                    </table>
                </div>
            </div>
        </div>
        <!-- /form Details -->
        <!-- New Payroll form modal -->
        <div id="modal_new" class="modal fade">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header bg-primary">
                        <h6 class="modal-title">New Payroll</h6>
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                    </div>

                    <form action="#" class="form-horizontal">
                        <div class="modal-body">
                            <label class="modal-new-validation text-danger" style="display: none"></label>
                            <div class="form-group row">
                                <label class="col-form-label col-sm-4">Name</label>
                                <div class="col-sm-8">
                                    <select class="form-control" id="Payroll_Id" name="Payroll_Id"></select>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-form-label col-sm-4">Date / Amount</label>
                                <div class="col-sm-4">
                                    <div class="input-group">
                                        <input type="datetime" class="form-control tanggal mdl-new-timestamp" />
                                        <span class="input-group-append">
                                            <span class="input-group-text"><i class="icon-calendar"></i></span>
                                        </span>
                                    </div>
                                </div>
                                <div class="col-sm-4">
                                    <input type="text" class="form-control text-right mdl-new-amount">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-form-label col-sm-4">Description</label>
                                <div class="col-sm-8">
                                    <input type="text" class="form-control mdl-new-desc">
                                </div>
                            </div>
                        </div>

                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                            <button type="button" class="btn bg-success mdl-new-btn-submit">Submit</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <!-- /new payroll form modal -->
        <!-- Manual Payroll form modal -->
        <div id="modal_manual" class="modal fade" tabindex="-1">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header bg-primary">
                        <h6 class="modal-title">Manual Payroll</h6>
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                    </div>

                    <form action="#" class="form-horizontal">
                        <div class="modal-body">
                            <label class="modal-manual-validation text-danger" style="display: none"></label>
                            <div class="form-group row">
                                <label class="col-form-label col-sm-4">Date / Amount</label>
                                <div class="col-sm-4">
                                    <div class="input-group">
                                        <input type="datetime" class="form-control tanggal mdl-manual-timestamp" />
                                        <span class="input-group-append">
                                            <span class="input-group-text"><i class="icon-calendar"></i></span>
                                        </span>
                                    </div>
                                </div>
                                <div class="col-sm-4">
                                    <input type="text" class="form-control text-right mdl-manual-amount">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-form-label col-sm-4">Description</label>
                                <div class="col-sm-8">
                                    <input type="text" class="form-control mdl-manual-desc">
                                </div>
                            </div>
                        </div>

                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                            <button type="button" class="btn bg-success mdl-manual-btn-submit">Submit</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <!-- /manual payroll form modal -->
        <!-- Edit Payrate form modal -->
        <div id="modal_edit" class="modal fade" tabindex="-1">
            <div class="modal-dialog modal-sm">
                <div class="modal-content">
                    <div class="modal-header bg-warning">
                        <h6 class="modal-title">Edit Payrate</h6>
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                    </div>

                    <form action="#" class="form-horizontal">
                        <div class="modal-body">
                            <label class="modal-edit-validation text-danger" style="display: none"></label>
                            <div style="display: none">
                                <input type="text" class="form-control mdl-edit-id">

                                <input class="form-control mdl-edit-branch_id" />
                                <input class="form-control mdl-edit-month" />
                                <input class="form-control mdl-edit-year" />
                                <input class="form-control mdl-edit-tutor_id" />
                            </div>
                            <div class="form-group row">
                                <label class="col-form-label col-sm-4">Session Hour</label>
                                <div class="col-sm-8">
                                    <input type="text" class="form-control text-right mdl-edit-hour">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-form-label col-sm-4">Hourly Rate</label>
                                <div class="col-sm-8">
                                    <input type="text" class="form-control text-right mdl-edit-rate">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-form-label col-sm-4">Tutor Travel Cost</label>
                                <div class="col-sm-8">
                                    <input type="text" class="form-control text-right mdl-edit-travel">
                                </div>
                            </div>
                        </div>

                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                            <button type="button" class="btn bg-success mdl-edit-btn-submit">Submit</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <!-- /edit payrate form modal -->
        <!-- Cancel form modal -->
        <div id="modal_cancel" class="modal fade" tabindex="-1">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header bg-warning">
                        <h6 class="modal-title">Cancel Payroll</h6>
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                    </div>

                    <form action="#" class="form-horizontal">
                        <div class="modal-body">
                            <label class="modal-cancel-validation text-danger" style="display: none"></label>
                            <div style="display: none">
                                <input class="form-control mdl-cancel-id" />

                                <input class="form-control mdl-cancel-branch_id" />
                                <input class="form-control mdl-cancel-month" />
                                <input class="form-control mdl-cancel-year" />
                                <input class="form-control mdl-cancel-tutor_id" />
                            </div>
                            <div class="form-group row">
                                <label class="col-form-label col-sm-4">Description</label>
                                <div class="col-sm-8">
                                    <input class="form-control mdl-cancel-desc" readonly />
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-form-label col-sm-4">Amount</label>
                                <div class="col-sm-8">
                                    <input class="form-control mdl-cancel-amount" readonly />
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-form-label col-sm-4">Notes</label>
                                <div class="col-sm-8">
                                    <textarea class="form-control mdl-cancel-reason" rows="2" placeholder="Reason Cancel"></textarea>
                                </div>
                            </div>
                        </div>

                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                            <button type="button" class="btn bg-success mdl-cancel-btn-submit">Submit</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <!-- /cancel form modal -->
        <!-- Pay form modal -->
        <div id="modal_pay" class="modal fade" tabindex="-1">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header bg-success">
                        <h6 class="modal-title">Payments</h6>
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                    </div>

                    <form action="#" class="form-horizontal">
                        <div class="modal-body">
                            <label class="modal-validation text-danger" style="display: none"></label>
                            <div class="form-group row">
                                <label class="col-form-label col-sm-4">Date</label>
                                <div class="col-sm-4">
                                    <div class="input-group">
                                        <input type="datetime" class="form-control tanggal mdl-timestamp" />
                                        <span class="input-group-append">
                                            <span class="input-group-text"><i class="icon-calendar"></i></span>
                                        </span>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-form-label col-sm-4">Total Payment</label>
                                <div class="col-sm-4">
                                    <input type="text" class="form-control text-right mdl-paid" readonly>
                                </div>
                                <div class="col-sm-4" style="display: none">
                                    <input type="text" class="form-control mdl-tutor-id" readonly>
                                </div>
                            </div>
                            <hr />
                            <div class="form-group row">
                                <label class="col-form-label col-sm-4">Notes</label>
                                <div class="col-sm-8">
                                    <textarea class="form-control mdl-notes" rows="2"></textarea>
                                </div>
                            </div>
                        </div>

                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                            <button type="button" class="btn bg-success mdl-btn-submit">Submit</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <!-- /pay form modal -->
    </div>
    <!-- /content area -->

</div>

<script type="text/javascript">

    function ChangePeriod(action) {
        $.ajax({
            type: "POST",
            url: '@Url.Action("ChangePeriod", "Reports")',
            data: {
                action: action,
                month: $('.period-month').val(),
                year: $('.period-year').val()
            },
            success: function (data) {
                //console.log(data.obj);
                $('.period-month').val(data.newMonth).trigger('change');
                $('.period-year').val(data.newYear);
            }, //end success
            error: function (result) {
                bootbox.alert("Error " + result);
            } //end error
        }); //end ajax
    }

    function ShowData() {
        $.ajax({
            type: "POST",
            url: '@Url.Action("GetTutorPayroll", "Reports")',
            data: {
                branch_id: $('#Branch').val(),
                month: $('.period-month').val(),
                year: $('.period-year').val()
            },
            success: function (data) {
                //console.log(data.obj);
                var datatable = $('.datatable').DataTable();
                datatable.clear().draw();
                $.each(data.obj, function (index, row) {
                    datatable.row.add([
                        row.Name,
                        row.TotalHours,
                        row.TotalPayable,
                        row.Due,
                        row.Details
                    ]).draw();
                });
            }, //end success
            error: function (result) {
                bootbox.alert("Error " + result);
            } //end error
        }); //end ajax
    }

    function Previous() {
        $('.payroll-index').show();
        $('.payroll-details').hide();
        ShowData();
    }

    function Details(branch_id, month, year, tutor_id) {
        $('.payroll-index').hide();

        $.ajax({
            type: "POST",
            url: '@Url.Action("GetDetails", "Reports")',
            data: {
                branch_id: branch_id,
                month: month,
                year: year,
                tutor_id: tutor_id
            },
            success: function (data) {
                //console.log(data.obj);
                var datatable = $('.datatable2').DataTable();
                datatable.clear().draw();
                $.each(data.obj, function (index, row) {
                    datatable.row.add([
                        row.Timestamp,
                        row.Description,
                        row.SessionHours,
                        row.HourlyRate,
                        row.TravelCost,
                        row.Amount,
                        row.Cancel,
                        row.Paid
                    ]).draw();
                });
                
                $('.title-details').html(data.tutor_name);
                $('.payroll-total').val(data.amount);
                $('.mdl-paid').val(data.amount);
                $('.mdl-tutor-id').val(tutor_id);
            }, //end success
            error: function (result) {
                bootbox.alert("Error " + result);
            } //end error
        }); //end ajax

        $('.payroll-details').show();
    }

    function EditPayrate(branch_id, month, year, tutor_id, id, hour, rate, travel) {
        $('.mdl-edit-branch_id').val(branch_id);
        $('.mdl-edit-month').val(month);
        $('.mdl-edit-year').val(year);
        $('.mdl-edit-tutor_id').val(tutor_id);

        $('.mdl-edit-id').val(id);
        $('.mdl-edit-hour').val(hour);
        $('.mdl-edit-rate').val(rate);
        $('.mdl-edit-travel').val(travel);
    }

    function Cancel_Modal(branch_id, month, year, tutor_id, id, desc, amount) {
        $('.mdl-cancel-branch_id').val(branch_id);
        $('.mdl-cancel-month').val(month);
        $('.mdl-cancel-year').val(year);
        $('.mdl-cancel-tutor_id').val(tutor_id);

        $('.mdl-cancel-id').val(id);
        $('.mdl-cancel-desc').val(desc);
        $('.mdl-cancel-amount').val(amount);
    }

    function GenerateFullTime() {
        $.ajax({
            type: "POST",
            url: '@Url.Action("GenerateFullTime", "Reports")',
            data: {
                branch_id: $('#Branch').val(),
                month: $('.period-month').val(),
                year: $('.period-year').val()
            },
            success: function (data) {
                //console.log(data.obj);
                if (data.status == '404') {
                    bootbox.alert('No data available to generate');
                }
                else {
                    ShowData();
                    bootbox.alert(data.updated + ' records Full Time Tutor Payroll has been added');
                }
            }, //end success
            error: function (result) {
                bootbox.alert("Error " + result);
            } //end error
        }); //end ajax
    }

    $(document).ready(function () {
        
        $('.select2').select2({
            minimumResultsForSearch: -1
        });

        $('#Payroll_Id').select2({
            placeholder: 'Please Select',
            ajax: {
                url: '@Url.Action("GetUser", "User")',
                data: function (params) {
                    var query = {
                        search: params.term,
                        page: params.page || 1,
                        limit: 20,
                        role: 'all'
                    }

                    return query;
                }
            },
            //minimumInputLength: 2
        });

        $('.tanggal').daterangepicker({
            singleDatePicker: true,
            locale: {
                format: 'YYYY/MM/DD'
            }
        });

        $('.period-month').val('@DateTime.UtcNow.Month').trigger('change');

        // Setting datatable defaults
        $.extend($.fn.dataTable.defaults, {
            autoWidth: false,
            columnDefs: [{
                orderable: false,
                targets: '_all'
                //width: 120,
                //targets: [7]
            }],
            dom: '<"datatable-header"fl><"datatable-scroll"t><"datatable-footer"ip>',
            language: {
                search: '<span>Filter:</span> _INPUT_',
                searchPlaceholder: 'Type to filter...',
                lengthMenu: '<span>Show:</span> _MENU_',
                paginate: { 'first': 'First', 'last': 'Last', 'next': $('html').attr('dir') == 'rtl' ? '&larr;' : '&rarr;', 'previous': $('html').attr('dir') == 'rtl' ? '&rarr;' : '&larr;' }
            }
        });

        var table = $('.datatable').DataTable({
            pagingType: 'full_numbers',
            order: [[0, 'asc']]
        });

        var table2 = $('.datatable2').DataTable({
            pagingType: 'full_numbers',
            order: [[0, 'asc']]
        });

        ShowData();

        $('#btnGo').click(function () {
            ShowData();
        });

        $('.mdl-new-btn-submit').click(function () {
            console.log($('#Payroll_Id').val());
            if ($('#Payroll_Id').val() == null) {
                $('.modal-new-validation').html('The field Name is required.').show();
            }
            else if ($('.mdl-new-amount').val() == '' || $('.mdl-new-amount').val() == '0') {
                $('.modal-new-validation').html('The field Amount is required.').show();
            }
            else if ($('.mdl-new-desc').val() == '') {
                $('.modal-new-validation').html('The field Description is required.').show();
            }
            else {
                $('.modal-new-validation').html('').hide();

                $.ajax({
                    type: "POST",
                    url: '@Url.Action("SaveManualPayroll", "Reports")',
                    data: {
                        tutor_id: $('#Payroll_Id').val(),
                        timestamp: $('.mdl-new-timestamp').val(),
                        amount: parseFloat($('.mdl-new-amount').val().replace(/,/g, '')),
                        description: $('.mdl-new-desc').val(),
                        payroll_total: 0
                    },
                    success: function (data) {
                        $('#modal_new').modal('toggle');
                        ShowData();
                    }, //end success
                    error: function (result) {
                        bootbox.alert("Error " + result);
                    } //end error
                }); //end ajax
            }
        });

        $('.mdl-manual-btn-submit').click(function () {
            if ($('.mdl-manual-amount').val() == '' || $('.mdl-manual-amount').val() == '0') {
                $('.modal-manual-validation').html('The field Amount is required.').show();
            }
            else if ($('.mdl-manual-desc').val() == '') {
                $('.modal-manual-validation').html('The field Description is required.').show();
            }
            else {
                $('.modal-manual-validation').html('').hide();
                
                $.ajax({
                    type: "POST",
                    url: '@Url.Action("SaveManualPayroll", "Reports")',
                    data: {
                        tutor_id: $('.mdl-tutor-id').val(),
                        timestamp: $('.mdl-manual-timestamp').val(),
                        amount: parseFloat($('.mdl-manual-amount').val().replace(/,/g, '')),
                        description: $('.mdl-manual-desc').val(),
                        payroll_total: parseFloat($('.payroll-total').val().replace(/,/g, ''))
                    },
                    success: function (data) {
                        //var datatable = $('.datatable2').DataTable();
                        //datatable.row.add([
                        //    data.timestamp,
                        //    data.description,
                        //    '',
                        //    '',
                        //    '',
                        //    data.amount,
                        //    data.paid
                        //]).draw();

                        //$('.payroll-total').val(data.total);
                        //$('.mdl-paid').val(data.total);
                        $('#modal_manual').modal('toggle');
                        Details($('#Branch').val(), data.month, data.year, $('.mdl-tutor-id').val());
                    }, //end success
                    error: function (result) {
                        bootbox.alert("Error " + result);
                    } //end error
                }); //end ajax
            }
        });

        $('.mdl-edit-btn-submit').click(function () {
            $.ajax({
                type: "POST",
                url: '@Url.Action("EditPayrate", "Reports")',
                data: {
                    id: $('.mdl-edit-id').val(),
                    hour: parseFloat($('.mdl-edit-hour').val().replace(/,/g, '')),
                    rate: parseFloat($('.mdl-edit-rate').val().replace(/,/g, '')),
                    travel: parseFloat($('.mdl-edit-travel').val().replace(/,/g, '')),
                    payroll_total: parseFloat($('.payroll-total').val().replace(/,/g, ''))
                },
                success: function (data) {
                    //var datatable = $('.datatable2').DataTable();
                    //    datatable.row.add([
                    //        data.timestamp,
                    //        data.description,
                    //        data.session_hour,
                    //        data.hourly_rate,
                    //        data.tutor_travel,
                    //        data.amount,
                    //        data.paid
                    //    ]).draw();

                    $('.payroll-total').val(data.total);
                    $('.mdl-paid').val(data.total);
                    $('#modal_edit').modal('toggle');
                    Details($('.mdl-edit-branch_id').val(), $('.mdl-edit-month').val(), $('.mdl-edit-year').val(), $('.mdl-edit-tutor_id').val());
                }, //end success
                error: function (result) {
                    bootbox.alert("Error " + result);
                } //end error
            }); //end ajax
        });

        $('.mdl-cancel-btn-submit').click(function () {
            if ($('.mdl-cancel-reason').val() == '') {
                $('.modal-cancel-validation').html('The field Reason Cancel is required.').show();
            }
            else {
                $('.modal-cancel-validation').html('').hide();

                $.ajax({
                    type: "POST",
                    url: '@Url.Action("CancelPayroll", "Reports")',
                    data: {
                        id: $('.mdl-cancel-id').val(),
                        notes: $('.mdl-cancel-reason').val()
                    },
                    success: function (data) {
                        $('#modal_cancel').modal('toggle');
                        Details($('.mdl-cancel-branch_id').val(), $('.mdl-cancel-month').val(), $('.mdl-cancel-year').val(), $('.mdl-cancel-tutor_id').val());
                    }, //end success
                    error: function (result) {
                        bootbox.alert("Error " + result);
                    } //end error
                }); //end ajax
            }
        });

        $('.mdl-btn-submit').click(function () {
            if ($('.mdl-paid').val() == '0.00') {
                $('.modal-validation').html('The field Total Payment is required.').show();
            }
            else {
                $('.modal-validation').html('').hide();

                $('.mdl-btn-submit').attr('disabled', true);

                $.ajax({
                    type: "POST",
                    url: '@Url.Action("SavePayrollPayments", "Reports")',
                    data: {
                        branch_id: $('#Branch').val(),
                        month: $('.period-month').val(),
                        year: $('.period-year').val(),
                        tutor_id: $('.mdl-tutor-id').val(),
                        timestamp: $('.mdl-timestamp').val(),
                        total_paid: parseFloat($('.mdl-paid').val().replace(/,/g, '')),
                        notes: $('.mdl-notes').val()
                    },
                    success: function (data) {
                        $('#modal_pay').modal('toggle');
                        Previous();
                        var url = '@Url.Action("Print", "Reports", new { id = "_id" })';
                        window.open(url.replace('_id', data.payroll_id) + '?tutor_id=' + $('.mdl-tutor-id').val(), '_blank');
                        //window.location.href = url.replace('_id', data.payroll_id) + '?tutor_id=' + $('.mdl-tutor-id').val();
                        @*window.location.href = '@Url.Action("PayrollPayments", "Reports")';*@
                    }, //end success
                    error: function (result) {
                        bootbox.alert("Error " + result);
                    } //end error
                }); //end ajax
            }
        });

    });
</script>