@model iSpeak.Models.SettingsViewModels

@{
    ViewBag.Root = "Settings";
    ViewBag.Title = "Index";
}

<style>
    th, td {
        white-space: nowrap;
    }
</style>

<div class="content-wrapper">

    <!-- Content area -->
    <div class="content">
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()
            <!-- Form inputs -->
            <div class="card">
                <div class="card-header header-elements-inline">
                    <h5 class="card-title">@ViewBag.Root</h5>
                    <div class="header-elements">
                        <div class="list-icons">
                            <a class="list-icons-item" data-action="collapse"></a>
                            <a class="list-icons-item" data-action="reload"></a>
                            <a class="list-icons-item" data-action="remove"></a>
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <fieldset class="mb-3">
                        <legend class="text-uppercase font-size-sm font-weight-bold">@ViewBag.Title</legend>
                        @Html.ValidationMessage("ValidationMessage", "", new { @class = "text-danger" })
                        <div class="form-group row">
                            @Html.LabelFor(model => model.AutoEntryForCashPayments, htmlAttributes: new { @class = "col-form-label col-lg-4" })
                            <div class="col-lg-4">
                                @Html.DropDownListFor(model => model.AutoEntryForCashPayments, ViewBag.listCategory as SelectList, "Select Category", new { @class = "form-control select2" })
                            </div>
                            <div class="col-lg-4">
                                <div class="input-group">
                                    <span class="input-group-prepend">
                                        <span class="input-group-text bg-info border-info text-white"><i class="icon icon-info22"></i></span>
                                    </span>
                                    @Html.EditorFor(model => model.AutoEntryForCashPayments_Notes, new { htmlAttributes = new { @class = "form-control", @placeholder = "Notes", @title = Model.AutoEntryForCashPayments_Notes } })
                                </div>
                            </div>
                        </div>
                        <div class="form-group row">
                            @Html.LabelFor(model => model.RoleAccessForReminders, htmlAttributes: new { @class = "col-form-label col-lg-4" })
                            <div class="col-lg-4">
                                @Html.ListBoxFor(model => model.RoleAccessForReminders, ViewBag.listRole as SelectList, new { @class = "form-control select2", @multiple = "multiple" })
                            </div>
                            <div class="col-lg-4">
                                <div class="input-group">
                                    <span class="input-group-prepend">
                                        <span class="input-group-text bg-info border-info text-white"><i class="icon icon-info22"></i></span>
                                    </span>
                                    @Html.EditorFor(model => model.RoleAccessForReminders_Notes, new { htmlAttributes = new { @class = "form-control", @placeholder = "Notes", @title = Model.RoleAccessForReminders_Notes } })
                                </div>
                            </div>
                        </div>
                        <div class="form-group row">
                            @Html.LabelFor(model => model.FullAccessForTutorSchedules, htmlAttributes: new { @class = "col-form-label col-lg-4" })
                            <div class="col-lg-4">
                                @Html.ListBoxFor(model => model.FullAccessForTutorSchedules, ViewBag.listRole as SelectList, new { @class = "form-control select2", @multiple = "multiple" })
                            </div>
                            <div class="col-lg-4">
                                <div class="input-group">
                                    <span class="input-group-prepend">
                                        <span class="input-group-text bg-info border-info text-white"><i class="icon icon-info22"></i></span>
                                    </span>
                                    @Html.EditorFor(model => model.FullAccessForTutorSchedules_Notes, new { htmlAttributes = new { @class = "form-control", @placeholder = "Notes", @title = Model.FullAccessForTutorSchedules_Notes } })
                                </div>
                            </div>
                        </div>
                        <div class="form-group row">
                            @Html.LabelFor(model => model.ShowOnlyOwnUserData, htmlAttributes: new { @class = "col-form-label col-lg-4" })
                            <div class="col-lg-4">
                                @Html.ListBoxFor(model => model.ShowOnlyOwnUserData, ViewBag.listRole as SelectList, new { @class = "form-control select2", @multiple = "multiple" })
                            </div>
                            <div class="col-lg-4">
                                <div class="input-group">
                                    <span class="input-group-prepend">
                                        <span class="input-group-text bg-info border-info text-white"><i class="icon icon-info22"></i></span>
                                    </span>
                                    @Html.EditorFor(model => model.ShowOnlyOwnUserData_Notes, new { htmlAttributes = new { @class = "form-control", @placeholder = "Notes", @title = Model.ShowOnlyOwnUserData_Notes } })
                                </div>
                            </div>
                        </div>
                        <div class="form-group row">
                            @Html.LabelFor(model => model.PayrollRatesRoles, htmlAttributes: new { @class = "col-form-label col-lg-4" })
                            <div class="col-lg-4">
                                @Html.ListBoxFor(model => model.PayrollRatesRoles, ViewBag.listRole as SelectList, new { @class = "form-control select2", @multiple = "multiple" })
                            </div>
                            <div class="col-lg-4">
                                <div class="input-group">
                                    <span class="input-group-prepend">
                                        <span class="input-group-text bg-info border-info text-white"><i class="icon icon-info22"></i></span>
                                    </span>
                                    @Html.EditorFor(model => model.PayrollRatesRoles_Notes, new { htmlAttributes = new { @class = "form-control", @placeholder = "Notes", @title = Model.PayrollRatesRoles_Notes } })
                                </div>
                            </div>
                        </div>
                        <div class="form-group row">
                            @Html.LabelFor(model => model.UserSetRoleAllowed, htmlAttributes: new { @class = "col-form-label col-lg-4" })
                            <div class="col-lg-4">
                                @Html.DropDownListFor(model => model.UserSetRoleAllowed, ViewBag.listRole as SelectList, "Select Role", new { @class = "form-control select2" })
                            </div>
                            <div class="col-lg-4">
                                <div class="input-group">
                                    <span class="input-group-prepend">
                                        <span class="input-group-text bg-info border-info text-white"><i class="icon icon-info22"></i></span>
                                    </span>
                                    @Html.EditorFor(model => model.UserSetRoleAllowed_Notes, new { htmlAttributes = new { @class = "form-control", @placeholder = "Notes", @title = Model.UserSetRoleAllowed_Notes } })
                                </div>
                            </div>
                        </div>
                        <div class="form-group row">
                            @Html.LabelFor(model => model.ResetPassword, htmlAttributes: new { @class = "col-form-label col-lg-4" })
                            <div class="col-lg-4">
                                <div class="input-group">
                                    @Html.PasswordFor(model => model.ResetPassword, new { @class = "form-control", @placeholder = "Reset Password" })
                                    <span class="input-group-append">
                                        <span class="input-group-text showpass" title="Show Password"><i class="icon icon-eye2"></i></span>
                                    </span>
                                </div>
                            </div>
                            <div class="col-lg-4">
                                <div class="input-group">
                                    <span class="input-group-prepend">
                                        <span class="input-group-text bg-info border-info text-white"><i class="icon icon-info22"></i></span>
                                    </span>
                                    @Html.EditorFor(model => model.ResetPassword_Notes, new { htmlAttributes = new { @class = "form-control", @placeholder = "Notes", @title = Model.ResetPassword_Notes } })
                                </div>
                            </div>
                        </div>
                        <div class="form-group row">
                            @Html.LabelFor(model => model.FixSessionHours, htmlAttributes: new { @class = "col-form-label col-lg-4" })
                            <div class="col-lg-4">
                                <div class="input-group">
                                    @Html.EditorFor(model => model.FixSessionHours, new { htmlAttributes = new { @class = "form-control", @placeholder = "None of Invoices need to fix", @readonly = "readonly" } })
                                    <span class="input-group-append">
                                        <span class="input-group-text showdetails" title="Show Details"><i class="icon icon-unlink"></i></span>
                                    </span>
                                </div>
                            </div>
                            <div class="col-lg-4">
                                <div class="input-group">
                                    <span class="input-group-prepend">
                                        <span class="input-group-text bg-info border-info text-white"><i class="icon icon-info22"></i></span>
                                    </span>
                                    @Html.EditorFor(model => model.FixSessionHours_Notes, new { htmlAttributes = new { @class = "form-control", @placeholder = "Notes", @title = Model.FixSessionHours_Notes } })
                                </div>
                            </div>
                        </div>
                    </fieldset>
                    <div>
                        <button type="submit" class="btn btn-primary">Save Changes <i class="icon-paperplane ml-2"></i></button>
                    </div>
                </div>
            </div>
            <!-- /form inputs -->
        }
    </div>
    <!-- /content area -->

</div>

<script type="text/javascript">
    function SessionsCheck() {
        $.ajax({
            type: "POST",
            url: '@Url.Action("SessionsCheck", "LessonSessions")',
            data: {
                temp: 'aaa'
            },
            success: function (data) {
                if (data.count > 0) {
                    $('#FixSessionHours').val(data.invoices);
                }
                else {
                    $('#FixSessionHours').val('');
                }
            }, //end success
            error: function (result) {
                bootbox.alert("Error " + result);
            } //end error
        }); //end ajax
    }

    function View_FixSessionHours(invoices) {
        $.ajax({
            type: "POST",
            url: '@Url.Action("SessionsCheckDetails", "LessonSessions")',
            data: {
                list: invoices
            },
            success: function (data) {
                var dialog = bootbox.alert({
                    title: 'Invoices need to fix: ' + invoices,
                    size: 'large',
                    message: data.content,
                    backdrop: true
                });
            }, //end success
            error: function (result) {
                bootbox.alert("Error " + result);
            } //end error
        }); //end ajax
    }

    function FixSessionHours(id, remaining) {
        if (remaining < 0) {
            bootbox.alert('Total Used Hours is more than Session Hours at this package.<br>Please cancel Lesson Sessions before fix this invoice!');
        }
        else {
            $.ajax({
                type: "POST",
                url: '@Url.Action("SessionCheckFix", "LessonSessions")',
                data: {
                    id: id,
                    remaining: remaining
                },
                success: function (data) {
                    window.location.reload(true);
                }, //end success
                error: function (result) {
                    bootbox.alert("Error " + result);
                } //end error
            }); //end ajax
        }
    }

    $(document).ready(function () {
        $('.select2').select2();

        SessionsCheck();

        $('#ResetPassword').val('@ViewBag.password');

        $('.showpass').mousedown(function () {
            $('#ResetPassword').attr('type', 'text');
        }).mouseup(function () {
            $('#ResetPassword').attr('type', 'password');
        }).mouseout(function () {
            $('#ResetPassword').attr('type', 'password');
        });

        $('.showdetails').click(function () {
            if ($('#FixSessionHours').val() == '') {
                bootbox.alert('None of data available.');
            }
            else {
                View_FixSessionHours($('#FixSessionHours').val());
            }
        });
    })
</script>