@using iSpeak.Common
@model iSpeak.Models.BirthdayHome

@{
    ViewBag.Title = "Home Page";
}

<style>
    .animated {
        -webkit-animation-duration: 1s;
        -moz-animation-duration: 1s;
        animation-duration: 1s;
    }

    .wrapper {
        position: relative;
        overflow: hidden;
    }

    .wrapper:after {
        content: '';
        display: block;
        padding-top: 50%;
    }

    .wrapper img {
        width: auto;
        height: 100%;
        max-width: none;
        position: absolute;
        left: 50%;
        top: 0;
        transform: translateX(-50%);
    }
</style>

<div class="content-wrapper">

    <!-- Content area -->
    <div class="content">
        <!-- Birthday Notif -->
        <div class="form-group row birthday-notif">
            <div class="col-lg-12">
                <div class="card">
                    <div class="card-header header-elements-inline">
                        <h5 class="card-title">Happy Birthday @User.Identity.GetFullName() !</h5>
                        <div class="header-elements">
                            <div class="list-icons">
                                <a class="list-icons-item" data-action="collapse"></a>
                                <a class="list-icons-item" data-action="reload"></a>
                                <a class="list-icons-item" data-action="remove"></a>
                            </div>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="ftco-blocks-cover-1">
                            <div class="wrapper">
                                <img src="@Url.Content("~/assets/images/happy_bday.jpg")" alt="happy-bday" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- /birthday Notif -->
        <!-- Collapsible -->
        <div class="form-group row" id="accordion-styled">
            <div class="col-lg-12">
                <!-- Reminders -->
                <div class="card reminder">
                    <div class="card-header bg-warning">
                        <h7>
                            <a data-toggle="collapse" class="text-white" href="#accordion-reminder">REMINDERS</a>
                        </h7>
                    </div>
                    <div id="accordion-reminder" class="collapse show" data-parent="#accordion-styled">
                        <div class="card-body">
                            <div class="form-group row">
                                <!-- Reminder List -->
                                <div class="col-lg-12 reminder-list animated bounceInLeft">
                                    <div class="card">
                                        <div class="card-body">
                                            <a href="javascript:void(0)" onclick="Next()" class="btn btn-sm btn-success mb-1">Create Reminder<i class="icon-plus22 ml-2"></i></a>
                                            <div style="float: right">
                                                <select class="form-control select2 reminder-by-status">
                                                    <option value="not_completed">Not Completed</option>
                                                    <option value="all">All Status</option>
                                                </select>
                                            </div>
                                            <div class="table-responsive">
                                                <table class="table table-hover dt-reminders">
                                                    <thead>
                                                        <tr>
                                                            <th>Date</th>
                                                            <th>Description</th>
                                                            <th>Status</th>
                                                            <th>Action</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody id="reminder-body">
                                                        @foreach (var item in Model.Reminders)
                                                        {
                                                            <tr>
                                                                <td>@Html.DisplayFor(modelItem => item.Timestamp)</td>
                                                                <td>@Html.DisplayFor(modelItem => item.Description)</td>
                                                                <td>
                                                                    @if (item.Status_enumid == iSpeak.Models.RemindersStatusEnum.New)
                                                                    {
                                                                        <span class="badge badge-dark d-block">New</span>
                                                                    }
                                                                    else if (item.Status_enumid == iSpeak.Models.RemindersStatusEnum.InProgress)
                                                                    {
                                                                        <span class="badge badge-info d-block">In Progress</span>
                                                                    }
                                                                    else if (item.Status_enumid == iSpeak.Models.RemindersStatusEnum.OnHold)
                                                                    {
                                                                        <span class="badge bg-brown d-block">On Hold</span>
                                                                    }
                                                                    else if (item.Status_enumid == iSpeak.Models.RemindersStatusEnum.Waiting)
                                                                    {
                                                                        <span class="badge badge-warning d-block">Waiting</span>
                                                                    }
                                                                    else if (item.Status_enumid == iSpeak.Models.RemindersStatusEnum.Completed)
                                                                    {
                                                                        <span class="badge badge-primary d-block">Completed</span>
                                                                    }
                                                                    else if (item.Status_enumid == iSpeak.Models.RemindersStatusEnum.Cancel)
                                                                    {
                                                                        <span class="badge badge-danger d-block">Cancel</span>
                                                                    }
                                                                </td>
                                                                <td>
                                                                    <a href="javascript:void(0)" onclick="Update_Reminder('@item.Id')">Update</a> |
                                                                    <a href="javascript:void(0)" onclick="View_Log('@item.Id')">Log</a>
                                                                </td>
                                                            </tr>
                                                        }
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- /Reminder List -->
                                <!-- Reminder Create -->
                                <div class="col-lg-12 reminder-add animated bounceInLeft" style="display: none">
                                    <div class="card">
                                        <div class="card-body">
                                            <fieldset class="mb-3">
                                                <legend class="text-uppercase font-size-sm font-weight-bold">Create</legend>
                                                <span class="text-danger reminder-add-validation" style="display: none"></span>
                                                <div class="form-group row">
                                                    <label class="col-form-label col-lg-2">Date</label>
                                                    <div class="col-lg-5">
                                                        <div class="input-group">
                                                            <input type="datetime" class="form-control tanggal reminder-add-date" />
                                                            <span class="input-group-append">
                                                                <span class="input-group-text"><i class="icon-calendar"></i></span>
                                                            </span>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="form-group row">
                                                    <label class="col-form-label col-lg-2">Description</label>
                                                    <div class="col-lg-5">
                                                        <textarea class="form-control reminder-add-desc" rows="3"></textarea>
                                                    </div>
                                                </div>
                                            </fieldset>
                                            <div>
                                                <a href="javascript:void(0)" onclick="Previous()" class="btn btn-sm btn-secondary">Back to List <i class="icon-circle-left2 ml-2"></i></a>
                                                <button type="button" class="btn btn-sm btn-primary btn-reminder-add">Submit <i class="icon-paperplane ml-2"></i></button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- /Reminder Create -->
                                <!-- Reminder Update -->
                                <div class="col-lg-12 reminder-edit animated bounceInLeft" style="display: none">
                                    <div class="card">
                                        <div class="card-body">
                                            <fieldset class="mb-3">
                                                <legend class="text-uppercase font-size-sm font-weight-bold">Update</legend>
                                                <input type="hidden" class="form-control reminder-edit-id" />
                                                <span class="text-danger reminder-edit-validation" style="display: none"></span>
                                                <div class="form-group row" style="display: none">
                                                    <label class="col-form-label col-lg-2">Date</label>
                                                    <div class="col-lg-5">
                                                        <div class="input-group">
                                                            <input type="datetime" class="form-control tanggal reminder-edit-date" />
                                                            <span class="input-group-append">
                                                                <span class="input-group-text"><i class="icon-calendar"></i></span>
                                                            </span>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="form-group row">
                                                    <label class="col-form-label col-lg-2">Description</label>
                                                    <div class="col-lg-5">
                                                        <textarea class="form-control reminder-edit-desc" rows="3"></textarea>
                                                    </div>
                                                </div>
                                                <div class="form-group row">
                                                    <label class="col-form-label col-lg-2">Status</label>
                                                    <div class="col-lg-5">
                                                        <select class="form-control select2 reminder-edit-status">
                                                            <option value="0">New</option>
                                                            <option value="1">In Progress</option>
                                                            <option value="2">On Hold</option>
                                                            <option value="3">Waiting</option>
                                                            <option value="4">Completed</option>
                                                            <option value="5">Cancel</option>
                                                        </select>
                                                    </div>
                                                </div>
                                            </fieldset>
                                            <div>
                                                <a href="javascript:void(0)" onclick="Previous()" class="btn btn-sm btn-secondary">Back to List <i class="icon-circle-left2 ml-2"></i></a>
                                                <button type="button" class="btn btn-sm btn-primary btn-reminder-update">Save <i class="icon-checkmark4 ml-2"></i></button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- /Reminder Update -->
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /reminders -->
                <!-- Form Birthday Student -->
                <div class="card birthday-list">
                    <div class="card-header bg-teal">
                        <h7>
                            <a data-toggle="collapse" class="text-white" href="#accordion-bday-list">BIRTHDAY LIST</a>
                        </h7>
                    </div>
                    <div id="accordion-bday-list" class="collapse" data-parent="#accordion-styled">
                        <div class="card-body">
                            <div class="form-group row">
                                <div class="col-lg-6">
                                    <div class="card">
                                        <div class="card-header header-elements-inline">
                                            <h5 class="card-title">Birthday This Month</h5>
                                            <div class="header-elements">
                                                <div style="float: right">
                                                    @Html.DropDownList("listRole_this", ViewBag.listRole as SelectList, new { @class = "form-control select2" })
                                                </div>
                                            </div>
                                        </div>
                                        <div class="card-body">
                                            <div class="table-responsive">
                                                <table class="table table-hover datatable1">
                                                    <thead>
                                                        <tr>
                                                            <th>CountDay</th>
                                                            <th>Fullname</th>
                                                            <th>Birthday</th>
                                                            <th>Role</th>
                                                            <th>Information</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        @foreach (var item in Model.ThisMonth)
                                                        {
                                                            <tr>
                                                                <td>@Html.DisplayFor(modelItem => item.CountDay)</td>
                                                                <td>@Html.DisplayFor(modelItem => item.Fullname)</td>
                                                                <td>@Html.DisplayFor(modelItem => item.Birthday)</td>
                                                                <td>@Html.DisplayFor(modelItem => item.Role)</td>
                                                                <td>
                                                                    @if (item.CountDay > 0)
                                                                    {
                                                                        <span class="badge badge-warning">@string.Format("In next {0} days", item.CountDay)</span>
                                                                    }
                                                                    else
                                                                    {
                                                                        <span class="badge badge-primary">Today</span>
                                                                    }
                                                                </td>
                                                            </tr>
                                                        }
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="card">
                                        <div class="card-header header-elements-inline">
                                            <h5 class="card-title">Birthday Next Month</h5>
                                            <div class="header-elements">
                                                <div style="float: right">
                                                    @Html.DropDownList("listRole_next", ViewBag.listRole as SelectList, new { @class = "form-control select2" })
                                                </div>
                                            </div>
                                        </div>
                                        <div class="card-body">
                                            <div class="table-responsive">
                                                <table class="table table-hover datatable2">
                                                    <thead>
                                                        <tr>
                                                            <th>CountDay</th>
                                                            <th>Fullname</th>
                                                            <th>Birthday</th>
                                                            <th>Role</th>
                                                            <th>Information</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        @foreach (var item in Model.NextMonth)
                                                        {
                                                            <tr>
                                                                <td>@Html.DisplayFor(modelItem => item.CountDay)</td>
                                                                <td>@Html.DisplayFor(modelItem => item.Fullname)</td>
                                                                <td>@Html.DisplayFor(modelItem => item.Birthday)</td>
                                                                <td>@Html.DisplayFor(modelItem => item.Role)</td>
                                                                <td>
                                                                    @if (item.CountDay > 0)
                                                                    {
                                                                        <span class="badge badge-warning">@string.Format("In next {0} days", item.CountDay)</span>
                                                                    }
                                                                    else
                                                                    {
                                                                        <span class="badge badge-primary">Today</span>
                                                                    }
                                                                </td>
                                                            </tr>
                                                        }
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /form Birthday Student -->
                <!-- Student Package -->
                <div class="card student-package">
                    <div class="card-header bg-success">
                        <h7>
                            <a data-toggle="collapse" class="text-white" href="#accordion-student-package">STUDENT PACKAGE</a>
                        </h7>
                    </div>
                    <div id="accordion-student-package" class="collapse show" data-parent="#accordion-styled">
                        <div class="card-body">
                            <div class="form-group row">
                                <div class="col-lg-12">
                                    <div class="card">
                                        <div class="card-header header-elements-inline">
                                            <h5 class="card-title">Package List</h5>
                                            <div class="header-elements">
                                                <div style="float: right">
                                                    @*@Html.DropDownList("listRole_this", ViewBag.listRole as SelectList, new { @class = "form-control select2" })*@
                                                </div>
                                            </div>
                                        </div>
                                        <div class="card-body">
                                            <div class="table-responsive">
                                                <table class="table table-hover dt-package">
                                                    <thead>
                                                        <tr>
                                                            <th>No</th>
                                                            <th>Date</th>
                                                            <th>Packages</th>
                                                            <th>Amount</th>
                                                            <th>Due</th>
                                                            <th>Status</th>
                                                            <th>Payment</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        @if (Model.StudentPackages != null)
                                                        {
                                                            foreach (var item in Model.StudentPackages)
                                                            {
                                                                int row = 0;
                                                                <tr>
                                                                    <td>@Html.DisplayFor(modelItem => item.No)</td>
                                                                    <td>@Html.DisplayFor(modelItem => item.Timestamp)</td>
                                                                    <td>
                                                                        @foreach (var subitem in item.SaleInvoiceItems)
                                                                        {
                                                                            if (row > 0)
                                                                            {
                                                                                <hr />
                                                                            }
                                                                            <span class="badge badge-primary">@subitem.Description</span><br />
                                                                            <span class="badge badge-dark">Qty: @subitem.Qty</span>
                                                                            <span class="badge badge-success">Price: @string.Format("{0:N0}", subitem.Price)</span>
                                                                            <span class="badge badge-warning">Avail. Hours: @subitem.SessionHours_Remaining</span>
                                                                            <span style="display: none">@(row++)</span>
                                                                        }
                                                                    </td>
                                                                    <td>@Html.DisplayFor(modelItem => item.Amount)</td>
                                                                    <td>@Html.DisplayFor(modelItem => item.Due)</td>
                                                                    <td>
                                                                        @if (item.Due > 0)
                                                                        {
                                                                            if (item.Cancelled == true)
                                                                            {
                                                                                <span class="badge badge-dark d-block">Cancelled</span>
                                                                            }
                                                                            else
                                                                            {
                                                                                <span class="badge badge-warning d-block">Waiting Payment</span>
                                                                            }
                                                                        }
                                                                        else
                                                                        {
                                                                            <span class="badge badge-primary d-block">Completed</span>
                                                                        }
                                                                    </td>
                                                                    <td>
                                                                        <a href="javascript:void(0)" onclick="View_Payments('@item.SaleInvoices_Id')">View</a>
                                                                    </td>
                                                                </tr>
                                                            }
                                                        }
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /student Package -->
                <!-- Student Schedule -->
                <div class="card student-schedule">
                    <div class="card-header bg-primary">
                        <h7>
                            <a data-toggle="collapse" class="text-white" href="#accordion-student-schedule">STUDENT SCHEDULE</a>
                        </h7>
                    </div>
                    <div id="accordion-student-schedule" class="collapse" data-parent="#accordion-styled">
                        <div class="card-body">
                            <div class="form-group row">
                                <div class="col-lg-12">
                                    <div class="card">
                                        <div class="card-header header-elements-inline">
                                            <h5 class="card-title">Schedule List</h5>
                                            <div class="header-elements">
                                                <div style="float: right">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="card-body">
                                            <div class="table-responsive">
                                                <table class="table table-hover dt-schedule">
                                                    <thead>
                                                        <tr>
                                                            <th>Day of Week</th>
                                                            <th>Start Time</th>
                                                            <th>End Time</th>
                                                            <th>Lesson</th>
                                                            <th>Tutor</th>
                                                            <th>Notes</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        @if (Model.StudentSchedules != null)
                                                        {
                                                            foreach (var item in Model.StudentSchedules)
                                                            {
                                                                <tr>
                                                                    <td>@Html.DisplayFor(modelItem => item.DayOfWeek)</td>
                                                                    <td>@Html.DisplayFor(modelItem => item.StartTime)</td>
                                                                    <td>@Html.DisplayFor(modelItem => item.EndTime)</td>
                                                                    <td>@Html.DisplayFor(modelItem => item.Invoice)</td>
                                                                    <td>@Html.DisplayFor(modelItem => item.Tutor)</td>
                                                                    <td>@Html.DisplayFor(modelItem => item.Notes)</td>
                                                                </tr>
                                                            }
                                                        }
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /student Schedule -->
            </div>
        </div>
        <!-- /collapsible -->
    </div>
    <!-- /content area -->

</div>

<script type="text/javascript">
    // Setting datatable defaults
    $.extend($.fn.dataTable.defaults, {
        autoWidth: false,
        //columnDefs: [{
        //    orderable: false,
        //    //width: 120,
        //    targets: '_all'
        //}],
        dom: '<"datatable-header"fl><"datatable-scroll"t><"datatable-footer"ip>',
        language: {
            search: '<span>Filter:</span> _INPUT_',
            searchPlaceholder: 'Type to filter...',
            lengthMenu: '<span>Show:</span> _MENU_',
            paginate: { 'first': 'First', 'last': 'Last', 'next': $('html').attr('dir') == 'rtl' ? '&larr;' : '&rarr;', 'previous': $('html').attr('dir') == 'rtl' ? '&rarr;' : '&larr;' }
        }
    });

    var dt_reminders = $('.dt-reminders').DataTable({
        pagingType: 'full_numbers',
        columnDefs: [{
            orderable: false,
            width: 120,
            targets: [3]
        }],
        order: [[0, 'desc']]
    });

    var datatable1 = $('.datatable1').DataTable({
        pagingType: 'full_numbers',
        search: {
            search: 'Student'
        },
        order: [[0, 'asc']]
    });

    var datatable2 = $('.datatable2').DataTable({
        pagingType: 'full_numbers',
        search: {
            search: 'Student'
        },
        order: [[0, 'asc']]
    });

    var dt_package = $('.dt-package').DataTable({
        pagingType: 'full_numbers',
        //pageLength: 5,
        //columnDefs: [{
        //    orderable: false,
        //    width: 120,
        //    targets: [3]
        //}],
        order: [[0, 'desc']]
    });

    var dt_schedule = $('.dt-schedule').DataTable({
        pagingType: 'full_numbers',
        //columnDefs: [{
        //    orderable: false,
        //    width: 120,
        //    targets: [3]
        //}],
        order: [[3, 'asc']]
    });

    function Next() {
        ReminderClear();
        $('.reminder-list').hide();
        $('.reminder-add').show();
    }

    function Previous() {
        ReminderClear();
        $('.reminder-list').show();
        $('.reminder-add').hide();
        $('.reminder-edit').hide();
    }

    function Update_Reminder(id) {
        $.ajax({
            type: "POST",
            url: '@Url.Action("ReminderGet", "Home")',
            data: {
                id: id
            },
            success: function (data) {
                $('.reminder-edit-id').val(data.id);
                $('.reminder-edit-date').data('daterangepicker').setStartDate(data.timestamp);
                $('.reminder-edit-date').data('daterangepicker').setEndDate(data.timestamp);
                //$('.reminder-edit-desc').val(data.description);
                $('.reminder-edit-status').val(data.status).trigger('change');

                $('.reminder-list').hide();
                $('.reminder-edit').show();
            }, //end success
            error: function (result) {
                bootbox.alert("Error " + result);
            } //end error
        }); //end ajax
    }

    function View_Log(id) {
        $.ajax({
            type: "POST",
            url: '@Url.Action("ReminderLog", "Home")',
            data: {
                id: id
            },
            success: function (data) {
                var dialog = bootbox.alert({
                    title: 'Reminder Log',
                    size: 'large',
                    message: data.content,
                    backdrop: true
                });
            }, //end success
            error: function (result) {
                bootbox.alert("Error " + result);
            } //end error
        }); //end ajax
    }

    function ReminderClear() {
        $('.reminder-add-date').data('daterangepicker').setStartDate('@string.Format("{0:yyyy/MM/dd}", DateTime.UtcNow)');
        $('.reminder-add-date').data('daterangepicker').setEndDate('@string.Format("{0:yyyy/MM/dd}", DateTime.UtcNow)');
        $('.reminder-add-desc').val('');
        $('.reminder-edit-desc').val('');
    }

    function View_Payments(id) {
        $.ajax({
            type: "POST",
            url: '@Url.Action("GetPayment", "Payments")',
            data: {
                id: id
            },
            success: function (data) {
                var dialog = bootbox.alert({
                    title: 'Payment Log',
                    size: 'large',
                    message: data.content,
                    backdrop: true
                });
            }, //end success
            error: function (result) {
                bootbox.alert("Error " + result);
            } //end error
        }); //end ajax
    }

    $(document).ready(function () {
        $('.tanggal').daterangepicker({
            singleDatePicker: true,
            locale: {
                format: 'YYYY/MM/DD'
            }
        });

        $('.select2').select2({
            minimumResultsForSearch: -1
        });

        datatable1.column(0).visible(false);
        datatable2.column(0).visible(false);

        if ('@Model.IsStudentBirthday' == 'False') {
            $('.birthday-notif').hide();
        }

        if ('@Model.ShowBirthdayList' == 'False') {
            $('.birthday-list').hide();
        }

        if ('@Model.IsRemindersAllowed' == 'False') {
            $('.reminder').hide();
        }

        if ('@Model.ShowStudentPackage' == 'False') {
            $('.student-package').hide();
        }

        if ('@Model.ShowStudentSchedule' == 'False') {
            $('.student-schedule').hide();
        }

        $('#listRole_this').val('Student').trigger('change');
        $('#listRole_this').change(function () {
            if ($('#listRole_this').val() == '') {
                $('input[aria-controls=DataTables_Table_1]').val('').keyup();
                //$('input[type=search]').val('').keyup();
            }
            else {
                $('input[aria-controls=DataTables_Table_1]').val($('#listRole_this').val()).keyup();
                //$('input[type=search]').val($('#listRole_this').val()).keyup();
            }
        });

        $('#listRole_next').val('Student').trigger('change');
        $('#listRole_next').change(function () {
            if ($('#listRole_next').val() == '') {
                $('input[aria-controls=DataTables_Table_2]').val('').keyup();
                //$('input[type=search]').val('').keyup();
            }
            else {
                $('input[aria-controls=DataTables_Table_2]').val($('#listRole_next').val()).keyup();
                //$('input[type=search]').val($('#listRole_next').val()).keyup();
            }
        });

        $('.reminder-by-status').change(function () {
            $.ajax({
                type: "POST",
                url: '@Url.Action("ReminderByStatus", "Home")',
                data: {
                    key: $('.reminder-by-status').val()
                },
                success: function (data) {
                    dt_reminders.clear().draw();
                    $.each(data.obj, function (index, row) {
                        dt_reminders.row.add([
                            row.Timestamp,
                            row.Description,
                            row.Status,
                            row.Action_Render
                        ]).draw();
                    });
                }, //end success
                error: function (result) {
                    bootbox.alert("Error " + result);
                } //end error
            }); //end ajax
        });

        $('.btn-reminder-add, .btn-reminder-update').keypress(function (event) { //prevent users hitting enter
            if (event.keyCode === 10 || event.keyCode === 13) {
                event.preventDefault();
            }
        });

        $('.btn-reminder-add').click(function () {
            //if (!event.detail || event.detail == 1) { //prevent double click on button
                if ($('.reminder-add-date').val() == '') {
                    $('.reminder-add-validation').html('The Field Date is required.').show();
                }
                else if ($('.reminder-add-desc').val() == '') {
                    $('.reminder-add-validation').html('The Field Description is required.').show();
                }
                else {
                    $('.reminder-add-validation').html('').hide();

                    $('.btn-reminder-add').attr('disabled', true);
                
                    $.ajax({
                        type: "POST",
                        url: '@Url.Action("ReminderAdd", "Home")',
                        data: {
                            timestamp: $('.reminder-add-date').val(),
                            description: $('.reminder-add-desc').val()
                        },
                        success: function (data) {
                            //Previous();
                            //ReminderAddClear();
                            location.reload();
                        }, //end success
                        error: function (result) {
                            bootbox.alert("Error " + result);
                        } //end error
                    }); //end ajax
                }
            //}
        });

        $('.btn-reminder-update').click(function () {
            if (!event.detail || event.detail == 1) { //prevent double click on button
                if ($('.reminder-edit-date').val() == '') {
                    $('.reminder-edit-validation').html('The Field Date is required.').show();
                }
                else {
                    $('.reminder-edit-validation').html('').hide();
                
                    $.ajax({
                        type: "POST",
                        url: '@Url.Action("ReminderUpdate", "Home")',
                        data: {
                            id: $('.reminder-edit-id').val(),
                            timestamp: $('.reminder-edit-date').val(),
                            description: $('.reminder-edit-desc').val(),
                            status: $('.reminder-edit-status').val()
                        },
                        success: function (data) {
                            //Previous();
                            //ReminderAddClear();
                            location.reload();
                        }, //end success
                        error: function (result) {
                            bootbox.alert("Error " + result);
                        } //end error
                    }); //end ajax
                }
            }
        });
    });

</script>