@model iSpeak.Models.PettyCashRecordsModels

@{
    ViewBag.Root = "Petty Cash Records";
    ViewBag.Title = "Create";
}

<div class="content-wrapper">

    <!-- Content area -->
    <div class="content">
        @using (Html.BeginForm("Create", "PettyCashRecords", FormMethod.Post, new { id = "target" }))
        {
            @Html.AntiForgeryToken()
            @Html.HiddenFor(model => model.No, new { @Value = "123" })
            @Html.HiddenFor(model => model.Timestamp, new { @Value = DateTime.UtcNow })
            <!-- Form inputs -->
            <div class="card">
                <div class="card-header header-elements-inline">
                    <h5 class="card-title">@ViewBag.Root</h5>
                    <div class="header-elements">
                        <div class="list-icons">
                            <a class="list-icons-item" data-action="collapse"></a>
                            <a class="list-icons-item" data-action="reload"></a>
                            <a class="list-icons-item" data-action="remove"></a>
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <fieldset class="mb-3">
                        <legend class="text-uppercase font-size-sm font-weight-bold">@ViewBag.Title</legend>
                        <div class="form-group row" style="display: none">
                            @Html.LabelFor(model => model.Branches_Id, htmlAttributes: new { @class = "col-form-label col-lg-2" })
                            <div class="col-lg-5">
                                @Html.DropDownListFor(model => model.Branches_Id, ViewBag.listBranch as SelectList, "Select Branch", new { @class = "form-control select2" })
                            </div>
                            <div class="col-lg-5">
                                @Html.ValidationMessageFor(model => model.Branches_Id, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="form-group row">
                            @Html.LabelFor(model => model.PettyCashRecordsCategories_Id, htmlAttributes: new { @class = "col-form-label col-lg-2" })
                            <div class="col-lg-5">
                                @*@Html.DropDownListFor(model => model.PettyCashRecordsCategories_Id, ViewBag.listCategory as SelectList, "Select Category", new { @class = "form-control select2" })*@
                                @Html.DropDownListFor(model => model.PettyCashRecordsCategories_Id, new SelectList(ViewBag.categories, "Id", "Name", ViewBag.categorySelectedId), "Select Category", new { @class = "form-control select2" })
                            </div>
                            <div class="col-lg-5">
                                @Html.ValidationMessageFor(model => model.PettyCashRecordsCategories_Id, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="form-group row">
                            @Html.LabelFor(model => model.Amount, htmlAttributes: new { @class = "col-form-label col-lg-2" })
                            <div class="col-lg-5">
                                @Html.EditorFor(model => model.Amount, new { htmlAttributes = new { @class = "form-control" } })
                            </div>
                            <div class="col-lg-5">
                                @Html.ValidationMessageFor(model => model.Amount, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="form-group row">
                            @Html.LabelFor(model => model.Notes, htmlAttributes: new { @class = "col-form-label col-lg-2" })
                            <div class="col-lg-5">
                                @Html.EditorFor(model => model.Notes, new { htmlAttributes = new { @class = "form-control" } })
                            </div>
                            <div class="col-lg-5">
                                @Html.ValidationMessageFor(model => model.Notes, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="form-group row allow-set-expense">
                            @Html.LabelFor(model => model.ExpenseCategories_Id, htmlAttributes: new { @class = "col-form-label col-lg-2" })
                            <div class="col-lg-5">
                                @Html.DropDownListFor(model => model.ExpenseCategories_Id, ViewBag.listCategory as SelectList, "Select Category", new { @class = "form-control select2" })
                            </div>
                            <div class="col-lg-5">
                                @Html.ValidationMessageFor(model => model.ExpenseCategories_Id, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </fieldset>
                    <div>
                        <a href="@Url.Action("Index", "PettyCashRecords")" class="btn btn-warning">Cancel <i class="icon-cross2 ml-2"></i></a>
                        <button type="submit" class="btn btn-primary">Submit <i class="icon-paperplane ml-2"></i></button>
                    </div>
                </div>
            </div>
            <!-- /form inputs -->
        }
    </div>
    <!-- /content area -->

</div>

<script type="text/javascript">
    $(document).ready(function () {
        $('.select2').select2();
        $('#Branches_Id').val($('#Branch').val()).trigger('change');

        if ('@ViewBag.SetExpense' == 'False') {
            $('.allow-set-expense').hide();
        }

        $('#target').submit(function (e) {
            $(this).find(':submit').attr('disabled', 'disabled'); //prevent double click on submit
        });
    })
</script>